
$asideWidth: 65px;
$minWidth: 1280px;
$colorText: #54575a;
$colorTextLight: #828385;
$deepBlue: #05a3dd;
$deepBlueLight: #cdedf8;
$deepBlueHover: #31b0de;
$colorGrey: #ebebeb;
$colorLight: #f3f3f3;
$colorVK: #4d75a3;
$colorFB: #3b5998;
$colorTW: #55acee;
$colorOK: #f58220;
$colorMR: #168de2;
$colorRed: #ff6140;



@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss';


@import 'sass/mixins';
@import 'sass/fonts';
@import 'sass/reset';

@import 'sass/slick';
@import 'sass/slider';
@import 'sass/main';
@import 'sass/front';
@import 'sass/aside';
@import 'sass/page';
@import 'sass/filter';
@import 'sass/jquery.mCustomScrollbar';
@import 'sass/scheme';
@import 'sass/popup';


