mixin card(label, code, img, title, description, link)
	.card-item(class= label ? 'card-item_#{label}' : '')
		if label == 'hit'
			.card-label хит
		else if label == 'novelty'
			.card-label новинка
		else if label == 'stock'
			.card-label акция
		.card-code #{code}
		.card-image: img(src='#{img}', alt='#{title}')
		.card-title #{title}
		.card-text #{description}
		a.card-link(href='#{link}')