extends layout/template

block vars
	- var pageName = 'concierge';

block head

block content
	.content-aside.content-aside_left.js-scroll-wrap.js-bottom-stick
		.inner
			.inner__pre
				.title Консьерж
				.text
					p Билеты на концерт или мероприятие? Не хватает времени для покупки подарка или цветов? Хотели бы зарезервировать столик в роскошном ресторане? Только дайте нам знать!
			include layout/blocks/aside-form-feedback.jade
			//-.inner__feedback
				.title Начать работу
				.text
					p Оставьте свои контакты, наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время.
				include layout/blocks/form-feedback

	.content-aside.content-aside_right.js-scroll-wrap.js-bottom-stick
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner
				.content-aside__header(style="background-image:url('/img/bg_1.jpg');")

				.text

					.card
						.card-list
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Резервация лучших ресторанов в Германии
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Бронирование отелей
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Бронирование и доставка авиабилетов
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Охрана
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Бронирование отелей
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Спа салоны
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Визовая поддержка
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Резервация лучших ресторанов в Германии
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Бронирование отелей
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Бронирование и доставка авиабилетов
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Охрана
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Бронирование отелей
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Спа салоны
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Визовая поддержка
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Резервация лучших ресторанов в Германии
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Бронирование отелей
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Бронирование и доставка авиабилетов
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Охрана
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Бронирование отелей
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Спа салоны
							.card-item
								a.card-inner.js-load-content(href='/content/concierge_001.html')
									.card-img: .card-ico
									.card-text Визовая поддержка


					.copyright
						.copyright-logo: img(src='/img/copyright.svg')
						.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>

	.content-aside.content-aside_slide
		.content-close: i
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner





