extends layout/template

block vars
	- var pageName = 'contacts';
	- var map = true;

block head

block content
	.content-aside.content-aside_half.js-scroll-wrap.js-bottom-stick
		.inner
			.inner__pre
				.title Контакты
				.text
					p <b>Germany</b> <br>Gernsbacher 34 76530 Баден-Баден
					p +49 7221 3965785<br>info@elite-medtravel.com

				.title Реквизиты
				.text
					p Gernsbacher 34 76530 Баден<br>+49 7221 3965785<br>info@elite-medtravel.com<br>Gernsbacher 34 76530<br>+49 7221 3965785<br>info@elite-medtravel.com

			include layout/blocks/aside-form-feedback.jade
			//-.inner__feedback
				include layout/blocks/form-feedback

	.content-aside.content-aside_half.js-bottom-stick
		.map.map_contact#contactMap


block scripts
	script.
		ymaps.ready(function () {
			var myMap = new ymaps.Map('contactMap', {
					center: [48.762507, 8.242725],
					zoom: 15,
					controls: []
				}),
				myPlacemark = new ymaps.Placemark([48.762507, 8.242725],
					{},
					{
						iconLayout: 'default#image',
						iconImageHref: '/img/map-marker.png',
						iconImageSize: [47, 66],
						iconImageOffset: [-24, -66]
					})

			myMap.geoObjects.add(myPlacemark);

			//myMap.behaviors.disable('scrollZoom');

		});