extends layout/template

block vars
	- var pageName = 'education';

block head

block content
	.content-aside.content-aside_left.js-scroll-wrap.js-bottom-stick
		.inner
			.inner__pre
				.title Образование
				.text
					ul.ul_disk
						li Высокое качество немецкого образования и прекрасная оснащённость учебных заведений
						li Образование в Германии могут получить бесплатно и граждане, и иностранцы
						li Большое число стипендий и грантов на научные исследования
						li Много программ на английском языке
						li Германия - одна из самых интересных, экономически развитых и культурно богатых стран Европы
			include layout/blocks/aside-form-feedback.jade
			//-.inner__feedback
				.title Начать работу
				.text
					p Оставьте свои контакты, наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время.
				form.form.form_feedback(action='', method='post')
					include layout/blocks/form-feedback

	.content-aside.content-aside_right.js-scroll-wrap.js-bottom-stick
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner
				.content-aside__header(style="background-image:url('/img/bg_1.jpg');")

				.text

					.title Языковые курсы
						.control
							a.control-link.js-load-content(href='/content/education_001.html') Записаться на курсы

					.count.count_4
						.count-item
							.count-num 1.
							.count-text Обучение проходит в небольших группах, как правило, от 8 до 12 человек.
						.count-item
							.count-num 2.
							.count-text Присоединиться к курсу немецкого языка можно в любой момент.Они организованы таким образом, что зачисление новых учащихся происходит раз в неделю (или раз в месяц). Это позволяет тебе быть свободным в выборе дат начала и окончания курса.
						.count-item
							.count-num 3.
							.count-text Почти во всех языковых школах Германии предлагаются курсы любой сложности: от новичка до продвинутого. У некоторых в программе присутсвует также бизнес курс немецкого языка. Обычно Ваш уровень владения немецким языком устанавливают при поступлении на языковой курс с помощью небольшого теста.
						.count-item
							.count-num 4.
							.count-text Курсы преподают носители языка, которые имеют специальное высшее образование, дающее им право учить немецкому языку как иностранному.

					.title Среднее образование
						.control
							a.control-link.js-load-content(href='/content/education_001.html') Получить образование

					p Законодательно в Германии принято девятилетнее всеобщее бесплатное образование. В стране учится более двенадцати миллионов детей, насчитывается до пятидесяти тысяч школ. Школьное образование разделено на три ступени. Начальное образование (с шести лет) рассчитано на четыре года. Пять лет продолжается учеба в средней школе первой ступени.

					.subtitle Школы разделены на три категории:

					.count.count_4
						.count-item
							.count-num 1.
							.count-title Главная школа
							.count-text Наиболее массова, готовит учеников, в основном, к трудовой деятельности.
						.count-item
							.count-num 2.
							.count-title После «Hauptschule»
							.count-text Даюёт базовое образование, доступно продолжение учебы в системе профобразования, начало работы на предприятии.
						.count-item
							.count-num 3.
							.count-title «Realschule»
							.count-text Обучение длится 6 лет. Для наиболее способных учеников предусмотрено дальнейшая учеба в старших (11, 12) классах гимназии, подготовка к высшему образованию.
						.count-item.count-item_boofer



					p Классическое образование, дающее возможность поступления в университет, соответствующий аттестат – можно получить только в гимназии. Тринадцатый класс гимназии становится подготовительным курсом университетского образования. Набор школьных предметов равнозначен российским школам, но выпускные экзамены необычайно строги, аналогичны вступительным экзаменам в престижный ВУЗ.

					.title Высшее образование
						.control
							a.control-link.js-load-content(href='/content/education_001.html') Получить образование

					.subtitle Высшее образование немецкие, иностранные студенты получают в ВУЗах трех типов::

					.count.count_4
						.count-item
							.count-num 1.
							.count-title Классическое академическое образование
							.count-text Дают исторически сложившиеся университеты, образцами которых можно представить университет Гейдельберга, старый Берлинский университет.
						.count-item
							.count-num 2.
							.count-title Политехническиие высшие школы
							.count-text В них основными остаются первоначальные специальности, с которых начиналась учебная деятельность.
						.count-item
							.count-num 3.
							.count-title Молодые университеты, частные ВУЗы
							.count-text Преподавание в них сосредотачивается на конкретных, узкоспециализированных дисциплинах.
						.count-item.count-item_boofer

					p Вступительных экзаменов в университетах Германии не существует. Зачисление студентов производится по средней оценке школьного аттестата, профилирующих предметов, Кафедральный собор в Германиисоциальным факторам. Для иностранных абитуриентов обязателен международный языковый тест, преимущественно немецкий. Для российских школьников лучший путь поступления – обучение на подготовительных курсах частных пансионатов, имеющих право выдачи аттестата, сертификата языкового теста. Тот же путь, но с подготовительными курсами при университете, выбирают для продолжения образования в магистратуре после окончания российского института.

				.copyright
					.copyright-logo: img(src='/img/copyright.svg')
					.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>

	.content-aside.content-aside_slide
		.content-close: i
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner





