extends layout/template

block vars
	- var pageName = 'index';

block head

block content
	.content-bg
	.content-aside.content-aside_front.js-bottom-stick
		.inner.front
			.front-logo: img(src='/img/logo_front.svg', alt='')
			.front-filter.js-tab-wrap
				.front-filter__list
					span.front-filter__link.js-tab-link.btn.active Медицина
					span.front-filter__link.js-tab-link.btn Туризм
					span.front-filter__link.js-tab-link.btn Образование
					span.front-filter__link.js-tab-link.btn Трансфер
					span.front-filter__link.js-tab-link.btn Консьерж
				.front-filter__tabs
					.front-filter__tabs-item.js-tab-item.active
						form.filter.filter_front(method='post', action='/medicine.html')
							.filter-item.filter-item_checkbox.filter-item_1
								.filter-input(title='Клиника')
									span.clean Клиника
									span.filled Выбрано:&nbsp;
										i.js-result
								.filter-clear
								.filter-dropdown
									.filter-dropdown__list.js-scroll-wrap
										.filter-dropdown__col
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med1')
													span Альтернативная медицина
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med2')
													span Репролуктивная медицина
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med3')
													span Многопрофильные клиники
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med4')
													span Гинекология
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med5')
													span Нейрохирургия
										.filter-dropdown__col
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med1')
													span Альтернативная медицина
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med2')
													span Репролуктивная медицина
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med3')
													span Многопрофильные клиники
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med4')
													span Гинекология
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med5')
													span Нейрохирургия
										.filter-dropdown__col
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med1')
													span Альтернативная медицина
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med2')
													span Репролуктивная медицина
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med3')
													span Многопрофильные клиники
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med4')
													span Гинекология
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med5')
													span Нейрохирургия
										.filter-dropdown__col
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med1')
													span Альтернативная медицина
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med2')
													span Репролуктивная медицина
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med3')
													span Многопрофильные клиники
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med4')
													span Гинекология
											.filter-dropdown__item
												label.filter-dropdown__checkbox
													input(type='checkbox', name='med5')
													span Нейрохирургия

							.filter-item.filter-item_choose.filter-item_2
								input.hidden.input_choose(value='0', name='city')
								.filter-input(title='По городу')
									span.clean По городу
									span.filled Город:&nbsp;
										i.js-result
								.filter-clear
								.filter-dropdown
									.filter-dropdown__list.js-scroll-wrap
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Берлин') Берлин
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Гамбург') Гамбург
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Мюнхен') Мюнхен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Кёльн') Кёльн
											.filter-dropdown__item
												.filter-dropdown__link(data-val='5', data-desc='Франкфурт-на-Майне') Франкфурт-на-Майне
											.filter-dropdown__item
												.filter-dropdown__link(data-val='6', data-desc='Штутгарт') Штутгарт
											.filter-dropdown__item
												.filter-dropdown__link(data-val='7', data-desc='Дюссельдорф') Дюссельдорф
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='8', data-desc='Дортмунд') Дортмунд
											.filter-dropdown__item
												.filter-dropdown__link(data-val='9', data-desc='Эссен') Эссен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='10', data-desc='Бремен') Бремен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='11', data-desc='Лейпциг') Лейпциг
											.filter-dropdown__item
												.filter-dropdown__link(data-val='12', data-desc='Дрезден') Дрезден
											.filter-dropdown__item
												.filter-dropdown__link(data-val='13', data-desc='Ганновер') Ганновер
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Берлин') Берлин
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Гамбург') Гамбург
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Мюнхен') Мюнхен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Кёльн') Кёльн
											.filter-dropdown__item
												.filter-dropdown__link(data-val='5', data-desc='Франкфурт-на-Майне') Франкфурт-на-Майне
											.filter-dropdown__item
												.filter-dropdown__link(data-val='6', data-desc='Штутгарт') Штутгарт
											.filter-dropdown__item
												.filter-dropdown__link(data-val='7', data-desc='Дюссельдорф') Дюссельдорф
											.filter-dropdown__item
												.filter-dropdown__link(data-val='8', data-desc='Дортмунд') Дортмунд
											.filter-dropdown__item
												.filter-dropdown__link(data-val='9', data-desc='Эссен') Эссен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='10', data-desc='Бремен') Бремен
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='11', data-desc='Лейпциг') Лейпциг
											.filter-dropdown__item
												.filter-dropdown__link(data-val='12', data-desc='Дрезден') Дрезден
											.filter-dropdown__item
												.filter-dropdown__link(data-val='13', data-desc='Ганновер') Ганновер
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Берлин') Берлин
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Гамбург') Гамбург
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Мюнхен') Мюнхен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Кёльн') Кёльн
											.filter-dropdown__item
												.filter-dropdown__link(data-val='5', data-desc='Франкфурт-на-Майне') Франкфурт-на-Майне

							.filter-item.filter-item_choose.filter-item_3
								input.hidden.input_choose(value='0', name='prices')
								.filter-input(title='По уровню цен')
									span.clean По уровню цен
									span.filled Цены:&nbsp;
										i.js-result
								.filter-clear
								.filter-dropdown
									.filter-dropdown__list.js-scroll-wrap
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Бюджетные') Низкий (12)
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Умеренные') Средний (7)
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Элитные') Элитный (5)
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Бюджетные') Низкий (12)
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Умеренные') Средний (7)
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Элитные') Элитный (5)
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Бюджетные') Низкий (12)
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Умеренные') Средний (7)
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Элитные') Элитный (5)

							.filter-submit
								input.btn.btn_sld.btn_search(type='submit', value='Найти')

					.front-filter__tabs-item.js-tab-item
						form.filter.filter_front.filter_tourism(method='post', action='/tourism.html')
							.filter-item.filter-item_choose.filter-item_half.filter-item_1
								input.hidden.input_choose(value='0', name='city')
								.filter-input(title='Выберите город')
									span.clean Выберите город
									span.filled Город:&nbsp;
										i.js-result
								.filter-clear
								.filter-dropdown
									.filter-dropdown__list.js-scroll-wrap
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Берлин') Берлин
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Гамбург') Гамбург
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Мюнхен') Мюнхен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Кёльн') Кёльн
											.filter-dropdown__item
												.filter-dropdown__link(data-val='5', data-desc='Франкфурт-на-Майне') Франкфурт-на-Майне
											.filter-dropdown__item
												.filter-dropdown__link(data-val='6', data-desc='Штутгарт') Штутгарт
											.filter-dropdown__item
												.filter-dropdown__link(data-val='7', data-desc='Дюссельдорф') Дюссельдорф
											.filter-dropdown__item
												.filter-dropdown__link(data-val='8', data-desc='Дортмунд') Дортмунд
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='9', data-desc='Эссен') Эссен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='10', data-desc='Бремен') Бремен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='11', data-desc='Лейпциг') Лейпциг
											.filter-dropdown__item
												.filter-dropdown__link(data-val='12', data-desc='Дрезден') Дрезден
											.filter-dropdown__item
												.filter-dropdown__link(data-val='13', data-desc='Ганновер') Ганновер
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Берлин') Берлин
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Гамбург') Гамбург
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Мюнхен') Мюнхен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Кёльн') Кёльн
											.filter-dropdown__item
												.filter-dropdown__link(data-val='5', data-desc='Франкфурт-на-Майне') Франкфурт-на-Майне
											.filter-dropdown__item
												.filter-dropdown__link(data-val='6', data-desc='Штутгарт') Штутгарт
											.filter-dropdown__item
												.filter-dropdown__link(data-val='7', data-desc='Дюссельдорф') Дюссельдорф
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='8', data-desc='Дортмунд') Дортмунд
											.filter-dropdown__item
												.filter-dropdown__link(data-val='9', data-desc='Эссен') Эссен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='10', data-desc='Бремен') Бремен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='11', data-desc='Лейпциг') Лейпциг
											.filter-dropdown__item
												.filter-dropdown__link(data-val='12', data-desc='Дрезден') Дрезден
											.filter-dropdown__item
												.filter-dropdown__link(data-val='13', data-desc='Ганновер') Ганновер
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Берлин') Берлин
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Гамбург') Гамбург
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Мюнхен') Мюнхен
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Кёльн') Кёльн
											.filter-dropdown__item
												.filter-dropdown__link(data-val='5', data-desc='Франкфурт-на-Майне') Франкфурт-на-Майне
											.filter-dropdown__item
												.filter-dropdown__link(data-val='6', data-desc='Штутгарт') Штутгарт
											.filter-dropdown__item
												.filter-dropdown__link(data-val='7', data-desc='Дюссельдорф') Дюссельдорф
											.filter-dropdown__item
												.filter-dropdown__link(data-val='8', data-desc='Дортмунд') Дортмунд
											.filter-dropdown__item
												.filter-dropdown__link(data-val='9', data-desc='Эссен') Эссен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='10', data-desc='Бремен') Бремен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='11', data-desc='Лейпциг') Лейпциг
											.filter-dropdown__item
												.filter-dropdown__link(data-val='12', data-desc='Дрезден') Дрезден
											.filter-dropdown__item
												.filter-dropdown__link(data-val='13', data-desc='Ганновер') Ганновер

							.filter-divider или
							.filter-item.filter-item_choose.filter-item_half.filter-item_2
								input.hidden.input_choose(value='0', name='curort')
								.filter-input(title='Выберите курорт')
									span.clean Выберите курорт
									span.filled Курорт:&nbsp;
										i.js-result
								.filter-clear
								.filter-dropdown
									.filter-dropdown__list.js-scroll-wrap
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Берлин') Берлин
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Гамбург') Гамбург
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Мюнхен') Мюнхен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Кёльн') Кёльн
											.filter-dropdown__item
												.filter-dropdown__link(data-val='5', data-desc='Франкфурт-на-Майне') Франкфурт-на-Майне
											.filter-dropdown__item
												.filter-dropdown__link(data-val='6', data-desc='Штутгарт') Штутгарт
											.filter-dropdown__item
												.filter-dropdown__link(data-val='7', data-desc='Дюссельдорф') Дюссельдорф
											.filter-dropdown__item
												.filter-dropdown__link(data-val='8', data-desc='Дортмунд') Дортмунд
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='9', data-desc='Эссен') Эссен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='10', data-desc='Бремен') Бремен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='11', data-desc='Лейпциг') Лейпциг
											.filter-dropdown__item
												.filter-dropdown__link(data-val='12', data-desc='Дрезден') Дрезден
											.filter-dropdown__item
												.filter-dropdown__link(data-val='13', data-desc='Ганновер') Ганновер
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Берлин') Берлин
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Гамбург') Гамбург
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Мюнхен') Мюнхен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Кёльн') Кёльн
											.filter-dropdown__item
												.filter-dropdown__link(data-val='5', data-desc='Франкфурт-на-Майне') Франкфурт-на-Майне
											.filter-dropdown__item
												.filter-dropdown__link(data-val='6', data-desc='Штутгарт') Штутгарт
											.filter-dropdown__item
												.filter-dropdown__link(data-val='7', data-desc='Дюссельдорф') Дюссельдорф
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='8', data-desc='Дортмунд') Дортмунд
											.filter-dropdown__item
												.filter-dropdown__link(data-val='9', data-desc='Эссен') Эссен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='10', data-desc='Бремен') Бремен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='11', data-desc='Лейпциг') Лейпциг
											.filter-dropdown__item
												.filter-dropdown__link(data-val='12', data-desc='Дрезден') Дрезден
											.filter-dropdown__item
												.filter-dropdown__link(data-val='13', data-desc='Ганновер') Ганновер
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Берлин') Берлин
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Гамбург') Гамбург
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Мюнхен') Мюнхен
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Кёльн') Кёльн
											.filter-dropdown__item
												.filter-dropdown__link(data-val='5', data-desc='Франкфурт-на-Майне') Франкфурт-на-Майне
											.filter-dropdown__item
												.filter-dropdown__link(data-val='6', data-desc='Штутгарт') Штутгарт
											.filter-dropdown__item
												.filter-dropdown__link(data-val='7', data-desc='Дюссельдорф') Дюссельдорф
											.filter-dropdown__item
												.filter-dropdown__link(data-val='8', data-desc='Дортмунд') Дортмунд
											.filter-dropdown__item
												.filter-dropdown__link(data-val='9', data-desc='Эссен') Эссен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='10', data-desc='Бремен') Бремен
											.filter-dropdown__item
												.filter-dropdown__link(data-val='11', data-desc='Лейпциг') Лейпциг
											.filter-dropdown__item
												.filter-dropdown__link(data-val='12', data-desc='Дрезден') Дрезден
											.filter-dropdown__item
												.filter-dropdown__link(data-val='13', data-desc='Ганновер') Ганновер
							.filter-submit
								input.btn.btn_sld.btn_search(type='submit', value='Найти')

					.front-filter__tabs-item.js-tab-item
						form.filter.filter_front(method='post', action='/education.html')
							.filter-item.filter-item_choose.filter-item_1
								input.hidden.input_choose(value='0', name='city')
								.filter-input(title='Выберите раздел')
									span.clean Выберите раздел
									span.filled Курсы:&nbsp;
										i.js-result
								.filter-clear
								.filter-dropdown
									.filter-dropdown__list.js-scroll-wrap
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__title Языковые курсы
											.filter-dropdown__item
												.filter-dropdown__link(data-val='1', data-desc='Для детей') Для детей
											.filter-dropdown__item
												.filter-dropdown__link(data-val='2', data-desc='Для взрослых') Для взрослых
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__title Среднее образование
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Частные школы') Частные школы
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Государственные школы') Государственные школы
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__title Высшее образование
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Подготовка к бакалавриату') Подготовка к бакалавриату
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Бакалавриат') Бакалавриат
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Подготовка к магистратуре') Подготовка к магистратуре
										.filter-dropdown__col
											.filter-dropdown__item
												.filter-dropdown__title &nbsp;
											.filter-dropdown__item
												.filter-dropdown__link(data-val='3', data-desc='Магистратура') Магистратура
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='МВА') МВА
											.filter-dropdown__item
												.filter-dropdown__link(data-val='4', data-desc='Постдипломные программы') Постдипломные программы

							.filter-submit
								input.btn.btn_sld.btn_search(type='submit', value='Найти')

					.front-filter__tabs-item.js-tab-item
						form.filter.filter_front(method='post', action='/transfer.html')
							.filter-item.filter-item_text.filter-item_half
								.filter-input(title='Откуда')
									span.clean
										.ico: img(src='/img/list-marker.svg', alt='')
										input(type='text', name='from', placeholder='Откуда')
								.filter-clear

							.filter-item.filter-item_text.filter-item_half.filter-item_last
								.filter-input(title='Куда')
									span.clean
										.ico: img(src='/img/list-marker.svg', alt='')
										input(type='text', name='from', placeholder='Куда')
								.filter-clear

							.filter-submit
								input.btn.btn_sld(type='submit', value='Поехали')

					.front-filter__tabs-item.js-tab-item
						form.filter.filter_front(method='post', action='/concierge.html')
							.filter-item.filter-item_text.filter-item_full.filter-item_last
								.filter-input
									.text Чем мы можем Вам помочь?   Вам нужны билеты на концерт или мероприятие?   Вам не хватает времени для покупки подарка или цветов?<br>Bы хотели бы зарезервировать столик в роскошном ресторане?   Только дайте нам знать
							.filter-submit
								input.btn.btn_sld(type='submit', value='Подробней')
