extends layout/template

block vars
	- var pageName = 'map';

block head

block content
	.content-aside.content-aside_left.js-scroll-wrap.js-bottom-stick
		.inner
			.inner__pre
				.title Все страницы
				.text

	.content-aside.content-aside_right.js-scroll-wrap.js-bottom-stick
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner
				.text
					ul
						li: a(href='/index.html') Главная
						li: a(href='/tourism.html') Туризм
						li: a(href='/medicine.html') Медицина
						li: a(href='/education.html') Образование
						li: a(href='/transfer.html') Трансфер
						li: a(href='/transfer_result.html') Трансфер - результаты поиска
						li: a(href='/concierge.html') Консьерж
						li: a(href='/index.html') О нас
						li: a(href='/news.html') Новости
						li: a(href='/contacts.html') Контакты

					.copyright
						.copyright-logo: img(src='/img/copyright.svg')
						.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>

	.content-aside.content-aside_slide
		.content-close: i
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner





