extends layout/template

block vars
	- var pageName = 'medicine';
	- var map = true;

block head

block content
	.content-aside.content-aside_left.js-scroll-wrap.js-bottom-stick
		.inner
			.inner__pre
				.title Медицина
				.text
					p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является
			include layout/blocks/aside-form-feedback.jade
			//-.inner__feedback
				.title Начать работу
				.text
					p Оставьте свои контакты, наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время.
				form.form.form_feedback(action='', method='post')
					include layout/blocks/form-feedback

	.content-aside.content-aside_right
		form.filter.filter_object(method='post', action='/')

			.filter-item.filter-item_checkbox
				.filter-input(title='Клиника')
					span.clean Клиника
					span.filled Выбрано:&nbsp;
						i.js-result
				.filter-clear
				.filter-dropdown
					.filter-dropdown__list.js-scroll-wrap
						.filter-dropdown__item
							label.filter-dropdown__checkbox
								input(type='checkbox', name='med1')
								span Альтернативная медицина
						.filter-dropdown__item
							label.filter-dropdown__checkbox
								input(type='checkbox', name='med2')
								span Репролуктивная медицина
						.filter-dropdown__item
							label.filter-dropdown__checkbox
								input(type='checkbox', name='med3')
								span Многопрофильные клиники
						.filter-dropdown__item
							label.filter-dropdown__checkbox
								input(type='checkbox', name='med4')
								span Гинекология
						.filter-dropdown__item
							label.filter-dropdown__checkbox
								input(type='checkbox', name='med5')
								span Нейрохирургия

			.filter-item.filter-item_choose
				input.hidden.input_choose(value='0', name='city')
				.filter-input(title='По городу')
					span.clean По городу
					span.filled Город:&nbsp;
						i.js-result
				.filter-clear
				.filter-dropdown
					.filter-dropdown__list.js-scroll-wrap
						.filter-dropdown__item
							.filter-dropdown__link(data-val='1', data-desc='Берлин') Берлин
						.filter-dropdown__item
							.filter-dropdown__link(data-val='2', data-desc='Гамбург') Гамбург
						.filter-dropdown__item
							.filter-dropdown__link(data-val='3', data-desc='Мюнхен') Мюнхен
						.filter-dropdown__item
							.filter-dropdown__link(data-val='4', data-desc='Кёльн') Кёльн
						.filter-dropdown__item
							.filter-dropdown__link(data-val='5', data-desc='Франкфурт-на-Майне') Франкфурт-на-Майне
						.filter-dropdown__item
							.filter-dropdown__link(data-val='6', data-desc='Штутгарт') Штутгарт
						.filter-dropdown__item
							.filter-dropdown__link(data-val='7', data-desc='Дюссельдорф') Дюссельдорф
						.filter-dropdown__item
							.filter-dropdown__link(data-val='8', data-desc='Дортмунд') Дортмунд
						.filter-dropdown__item
							.filter-dropdown__link(data-val='9', data-desc='Эссен') Эссен
						.filter-dropdown__item
							.filter-dropdown__link(data-val='10', data-desc='Бремен') Бремен
						.filter-dropdown__item
							.filter-dropdown__link(data-val='11', data-desc='Лейпциг') Лейпциг
						.filter-dropdown__item
							.filter-dropdown__link(data-val='12', data-desc='Дрезден') Дрезден
						.filter-dropdown__item
							.filter-dropdown__link(data-val='13', data-desc='Ганновер') Ганновер

			.filter-item.filter-item_choose
				input.hidden.input_choose(value='0', name='prices')
				.filter-input(title='По уровню цен')
					span.clean По уровню цен
					span.filled Цены:&nbsp;
						i.js-result
				.filter-clear
				.filter-dropdown
					.filter-dropdown__list.js-scroll-wrap
						.filter-dropdown__item
							.filter-dropdown__link(data-val='1', data-desc='Бюджетные') Низкий (12)
						.filter-dropdown__item
							.filter-dropdown__link(data-val='2', data-desc='Умеренные') Средний (7)
						.filter-dropdown__item
							.filter-dropdown__link(data-val='3', data-desc='Элитные') Элитный (5)

			.filter-item.filter-item_choose
				input.hidden.input_choose(value='0', name='waiting')
				.filter-input(title='По времени ответа')
					span.clean По времени ответа
					span.filled Время:&nbsp;
						i.js-result
				.filter-clear
				.filter-dropdown.js-scroll-wrap
					.filter-dropdown__item
						.filter-dropdown__link(data-val='1', data-desc='Неделя') Неделя (12)
					.filter-dropdown__item
						.filter-dropdown__link(data-val='2', data-desc='До месяца') До месяца (7)
					.filter-dropdown__item
						.filter-dropdown__link(data-val='3', data-desc='До года') До года (5)
					.filter-dropdown__item
						.filter-dropdown__link(data-val='4', data-desc='Больше года') Больше года (5)

		.object-list.js-scroll-wrap.js-bottom-stick

			.object-item
				.object-img: img(src='/img/temp/object_001.jpg', alt='')
				.object-info
					.object-title Гинекологическое отделение клиники города Эсслинген
					.object-text.text
						p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
						ul.ul_location
							li Esslingen73730, Hirschlandstrasse 97, Штутгарт Германия
							li Уровень цен - средний
							li Время ответа - 14 дней
						.direction-list
							.direction-item
							.direction-item
							.direction-item
							.direction-item
							.direction-more + еще 8
							a.btn.js-load-content(href='/content/object_001.html') Подробнее

			.object-item
				.object-img: img(src='/img/temp/object_002.jpg', alt='')
				.object-info
					.object-title Гинекологическое отделение клиники города Эсслинген
					.object-text.text
						p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
						ul.ul_location
							li Esslingen73730, Hirschlandstrasse 97, Штутгарт Германия
							li Уровень цен - средний
							li Время ответа - 14 дней
						.direction-list
							.direction-item
							.direction-item
							.direction-item
							.direction-item
							.direction-more + еще 4
							a.btn.js-load-content(href='/content/object_002.html') Подробнее

			.object-item
				.object-img: img(src='/img/temp/object_003.jpg', alt='')
				.object-info
					.object-title Гинекологическое отделение клиники города Эсслинген
					.object-text.text
						p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
						ul.ul_location
							li Esslingen73730, Hirschlandstrasse 97, Штутгарт Германия
							li Уровень цен - средний
							li Время ответа - 14 дней
						.direction-list
							.direction-item
							.direction-item
							.direction-item
							.direction-item
							a.btn.js-load-content(href='/content/object_003.html') Подробнее

			.object-item
				.object-img: img(src='/img/temp/object_001.jpg', alt='')
				.object-info
					.object-title Гинекологическое отделение клиники города Эсслинген
					.object-text.text
						p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
						ul.ul_location
							li Esslingen73730, Hirschlandstrasse 97, Штутгарт Германия
							li Уровень цен - средний
							li Время ответа - 14 дней
						.direction-list
							.direction-item
							.direction-item
							.direction-item
							.direction-item
							.direction-more + еще 8
							a.btn.js-load-content(href='/content/object_001.html') Подробнее

			.object-item
				.object-img: img(src='/img/temp/object_002.jpg', alt='')
				.object-info
					.object-title Гинекологическое отделение клиники города Эсслинген
					.object-text.text
						p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
						ul.ul_location
							li Esslingen73730, Hirschlandstrasse 97, Штутгарт Германия
							li Уровень цен - средний
							li Время ответа - 14 дней
						.direction-list
							.direction-item
							.direction-item
							.direction-item
							.direction-item
							.direction-more + еще 4
							a.btn.js-load-content(href='/content/object_002.html') Подробнее

			.object-item
				.object-img: img(src='/img/temp/object_003.jpg', alt='')
				.object-info
					.object-title Гинекологическое отделение клиники города Эсслинген
					.object-text.text
						p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
						ul.ul_location
							li Esslingen73730, Hirschlandstrasse 97, Штутгарт Германия
							li Уровень цен - средний
							li Время ответа - 14 дней
						.direction-list
							.direction-item
							.direction-item
							.direction-item
							.direction-item
							a.btn.js-load-content(href='/content/object_003.html') Подробнее

	.content-aside.content-aside_slide
		.content-close: i
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner.inner_news


