extends layout/template

block vars
	- var pageName = 'news';

block head

block content
	.content-aside.content-aside_left.js-scroll-wrap.js-bottom-stick
		.inner
			.inner__pre
				.title Новости
				.text
					p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является
			include layout/blocks/aside-form-feedback.jade
			//-.inner__feedback
				.title Начать работу
				.text
					p Оставьте свои контакты, наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время.
				form.form.form_feedback(action='', method='post')
					include layout/blocks/form-feedback

	.content-aside.content-aside_right.js-scroll-wrap.js-bottom-stick
		.news-list
			.news-item
				.news-date 17 июля 2016
				.news-title Гинекологическое отделение клиники города Эсслинген
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_001.html') Подробнее

			.news-item
				.news-date 10 июля 2016
				.news-title Гинекологическое отделение клиники
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_002.html') Подробнее

			.news-item
				.news-date 4 июля 2016
				.news-title Гинекологическое отделение клиники города Эсслинген
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_003.html') Подробнее

			.news-item
				.news-date 2 июля 2016
				.news-title Гинекологическое отделение клиники города Эсслинген
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_001.html') Подробнее

			.news-item
				.news-date 4 июля 2016
				.news-title Гинекологическое отделение клиники города Эсслинген
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_002.html') Подробнее

			.news-item
				.news-date 2 июля 2016
				.news-title Гинекологическое отделение клиники города Эсслинген
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_003.html') Подробнее

			.news-item
				.news-date 17 июля 2016
				.news-title Гинекологическое отделение клиники города Эсслинген
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_001.html') Подробнее

			.news-item
				.news-date 10 июля 2016
				.news-title Гинекологическое отделение клиники
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_002.html') Подробнее

			.news-item
				.news-date 4 июля 2016
				.news-title Гинекологическое отделение клиники города Эсслинген
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_003.html') Подробнее

			.news-item
				.news-date 2 июля 2016
				.news-title Гинекологическое отделение клиники города Эсслинген
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_001.html') Подробнее

			.news-item
				.news-date 4 июля 2016
				.news-title Гинекологическое отделение клиники города Эсслинген
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_002.html') Подробнее

			.news-item
				.news-date 2 июля 2016
				.news-title Гинекологическое отделение клиники города Эсслинген
				.news-text Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне.  Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне...
				.news-more: a.btn.js-load-content(href='/content/news_003.html') Подробнее
	.content-aside.content-aside_slide
		.content-close: i
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner.inner_news


