extends layout/template

block vars
	- var pageName = 'tourism';
	- var map = true;

block head

block content
	.content-aside.content-aside_left.js-scroll-wrap.js-bottom-stick
		.inner
			.inner__pre
				.title Туризм
				.text
					p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является
			include layout/blocks/aside-form-feedback.jade
			//-.inner__feedback
				.title Начать работу
				.text
					p Оставьте свои контакты, наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время.
				form.form.form_feedback(action='', method='post')
					include layout/blocks/form-feedback

	.content-aside.content-aside_right
		.scheme
			.scheme-menu.js-bottom-stick.js-scroll-wrap

				.subtitle Выберите город

				.city-list
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_15')
						.city-logo: img(src='/img/map/baden_baden.svg', alt='')
						.city-name Баден-Баден
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_16')
						.city-logo: img(src='/img/map/munchen.svg', alt='')
						.city-name Мюнхен
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_13')
						.city-logo: img(src='/img/map/gaidelberg.svg', alt='')
						.city-name Гейдельберг
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_12')
						.city-logo: img(src='/img/map/frankfurt.svg', alt='')
						.city-name Франкфурт-на-Майне
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_10')
						.city-logo: img(src='/img/map/duseldorf.svg', alt='')
						.city-name Дюссельдорф
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_10')
						.city-logo: img(src='/img/map/keln.svg', alt='')
						.city-name Кёльн
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_2')
						.city-logo: img(src='/img/map/gamburg.svg', alt='')
						.city-name Гамбург
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_7')
						.city-logo: img(src='/img/map/berlin.svg', alt='')
						.city-name Берлин
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_9')
						.city-logo: img(src='/img/map/drezden.svg', alt='')
						.city-name Дрезден
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_15')
						.city-logo: img(src='/img/map/shtutguard.svg', alt='')
						.city-name Штутгарт
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_15')
						.city-logo: img(src='/img/map/fraiburg.svg', alt='')
						.city-name Фрайбург-им-Брайсгау
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_13')
						.city-logo: img(src='/img/map/visbaden.svg', alt='')
						.city-name Висбаден

				.subtitle Курорт

				.city-list
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_10')
						.city-logo: span.roundb: img(src='/img/map/keln_w.svg', alt='')
						.city-name Кёльн
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_15')
						.city-logo: span.roundb: img(src='/img/map/shtutguard_w.svg', alt='')
						.city-name Штутгарт
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_15')
						.city-logo: span.roundb: img(src='/img/map/fraiburg_w.svg', alt='')
						.city-name Фрайбург-им-Брайсгау
					a.city-item.js-load-content(href='/content/city_001.html', data-hover-link='#map-area_13')
						.city-logo: span.roundb: img(src='/img/map/visbaden_w.svg', alt='')
						.city-name Висбаден

			.scheme-container.js-bottom-stick.js-scroll-wrap
				.scheme-container__inner
					.scheme-map
						include img/map/map.svg
						.scheme-map__legend
							.legend-list

								.legend-item.legend-item_up(style='top:523px;left:102px;')
									.legend-logo: img(src='/img/map/baden_baden.svg', alt='')
									.legend-info
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')
										.legend-info__header
											.name Баден-Баден
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg

								.legend-item.legend-item_up(style='top:571px;left:300px;')
									.legend-logo: img(src='/img/map/munchen.svg', alt='')
									.legend-info
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')
										.legend-info__header
											.name Мюнхен
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg

								.legend-item(style='top:456px;left:130px;')
									.legend-logo: img(src='/img/map/gaidelberg.svg', alt='')
									.legend-info
										.legend-info__header
											.name Гейдельберг
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')

								.legend-item(style='top:390px;left:142px;')
									.legend-logo: img(src='/img/map/frankfurt.svg', alt='')
									.legend-info
										.legend-info__header
											.name Дюссельдорф
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')

								.legend-item(style='top:302px;left:0px;')
									.legend-logo: img(src='/img/map/duseldorf.svg', alt='')
									.legend-info
										.legend-info__header
											.name Дюссельдорф
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')

								.legend-item(style='top:326px;left:45px;')
									.legend-logo: img(src='/img/map/keln.svg', alt='')
									.legend-info
										.legend-info__header
											.name Кёльн
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')

								.legend-item(style='top:104px;left:199px;')
									.legend-logo: img(src='/img/map/gamburg.svg', alt='')
									.legend-info
										.legend-info__header
											.name Гамбург
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')

								.legend-item.legend-item_left(style='top:172px;left:385px;')
									.legend-logo: img(src='/img/map/berlin.svg', alt='')
									.legend-info
										.legend-info__header
											.name Берлин
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')

								.legend-item.legend-item_left(style='top:325px;left:415px;')
									.legend-logo: img(src='/img/map/drezden.svg', alt='')
									.legend-info
										.legend-info__header
											.name Дрезден
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')

								.legend-item.legend-item_up(style='top:522px;left:163px;')
									.legend-logo: img(src='/img/map/shtutguard.svg', alt='')
									.legend-info
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')
										.legend-info__header
											.name Штутгарт
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg

								.legend-item.legend-item_up(style='top:580px;left:82px;')
									.legend-logo: img(src='/img/map/fraiburg.svg', alt='')
									.legend-info
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')
										.legend-info__header
											.name Фрайбург-им-Брайсгау
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg

								.legend-item(style='top:414px;left:98px;')
									.legend-logo: img(src='/img/map/visbaden.svg', alt='')
									.legend-info
										.legend-info__header
											.name Висбаден
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')



								.legend-item.legend-item_k(style='top:306px;left:145px;')
									.legend-logo: img(src='/img/map/keln_w.svg', alt='')
									.legend-info
										.legend-info__header
											.name Кёльн
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')

								.legend-item.legend-item_k.legend-item_up(style='top:496px;left:262px;;')
									.legend-logo: img(src='/img/map/shtutguard_w.svg', alt='')
									.legend-info
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')
										.legend-info__header
											.name Штутгарт
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg

								.legend-item.legend-item_k.legend-item_up(style='top:556px;left:184px;')
									.legend-logo: img(src='/img/map/fraiburg_w.svg', alt='')
									.legend-info
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')
										.legend-info__header
											.name Фрайбург-им-Брайсгау
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg

								.legend-item.legend-item_k(style='top:394px;left:201px;')
									.legend-logo: img(src='/img/map/visbaden_w.svg', alt='')
									.legend-info
										.legend-info__header
											.name Висбаден
											a.js-load-content.more(href='/content/city_001.html'): include img/arrow-right.svg
										.legend-info__picture: img(src='/img/map/keln.jpg', alt='')



								.legend-item

	.content-aside.content-aside_slide
		.content-close: i
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner.inner_news


