extends layout/template

block vars
	- var pageName = 'transfer';

block head

block content
	.content-aside.content-aside_left.js-scroll-wrap.js-bottom-stick
		.inner
			.inner__pre
				.title Трансфер
				.text
					p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является
			include layout/blocks/aside-form-feedback.jade

	.content-aside.content-aside_right.js-scroll-wrap.js-bottom-stick
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner
				.content-aside__header
					.search
						.search-filter
							form.filter.filter_front(method='post', action='/transfer_result.html')
								.filter-item.filter-item_text
									.filter-input(title='Откуда')
										span.clean
											.ico: img(src='/img/list-marker.svg', alt='')
											input(type='text', name='from', placeholder='Откуда')
									.filter-clear

								.filter-item.filter-item_text.filter-item_last
									.filter-input(title='Куда')
										span.clean
											.ico: img(src='/img/list-marker.svg', alt='')
											input(type='text', name='from', placeholder='Куда')
									.filter-clear

								.filter-submit
									input.btn.btn_sld(type='submit', value='Поехали')

				.text

					.subtitle Как это работает
					.steps
						.steps-item
							.steps-num 1.
							.steps-text Укажите маршрут пути
						.steps-item
							.steps-num 2.
							.steps-text Оформите заказ на&nbsp;сайте или по&nbsp;телефону
						.steps-item
							.steps-num 3.
							.steps-text Ожидайте звонка оператора
						.steps-item
							.steps-num 4.
							.steps-text Оформите заказ на&nbsp;сайте или по&nbsp;телефону

					.js-slider-wrap
						.subtitle Виды транспорта
							.control
								span.control-link.control-link_arrow.control-link_arrow-left: include img/arrow-left.svg
								span.control-link.control-link_arrow.control-link_arrow-right: include img/arrow-right.svg
								//-a.control-link(href='#') Все услуги

						.slider.slider_object
							.slider-list.js-page-slider
								.slider-item.slider-item_cars
									.slider-inner
										.text Эконом-класс
										.img: img(src='/img/temp/car_001.jpg', alt='')
										.info
											.info-price
												.ico-euro
												|&nbsp;от 300
											a.info-more(href='#'): include img/arrow-right.svg
								.slider-item.slider-item_cars
									.slider-inner
										.text Эконом-класс
										.img: img(src='/img/temp/car_001.jpg', alt='')
										.info
											.info-price
												.ico-euro
												|&nbsp;от 300
											a.info-more(href='#'): include img/arrow-right.svg
								.slider-item.slider-item_cars
									.slider-inner
										.text Эконом-класс
										.img: img(src='/img/temp/car_001.jpg', alt='')
										.info
											.info-price
												.ico-euro
												|&nbsp;от 300
											a.info-more(href='#'): include img/arrow-right.svg
								.slider-item.slider-item_cars
									.slider-inner
										.text Эконом-класс
										.img: img(src='/img/temp/car_001.jpg', alt='')
										.info
											.info-price
												.ico-euro
												|&nbsp;от 300
											a.info-more(href='#'): include img/arrow-right.svg


					.subtitle Условия оплаты


					p Специализация: гинекологическая онкология, минимально инвазивная хирургия, реконструктивная пластическая хирургия, сенология . Одними из ключевых направлений дтельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден -Бадене
					p Специализация: гинекологическая онкология, минимально инвазивная хирургия, реконструктивная пластическая хирургия, сенология . Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» Специализация: гинекологическая онкология, минимально инвазивная хирургия, реконструктивная пластическая хирургия, сенология . Одними из ключевых направлений влений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене

					.copyright
						.copyright-logo: img(src='/img/copyright.svg')
						.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>

	.content-aside.content-aside_slide
		.content-close: i
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner





