extends layout/template

block vars
	- var pageName = 'transfer';

block head

block content
	.content-aside.content-aside_left.js-scroll-wrap.js-bottom-stick
		.inner
			.inner__pre
				.title Трансфер
				.text
					p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии» доктора Михаэля Шрётера в Баден-Бадене является
			include layout/blocks/aside-form-feedback.jade
			//-.inner__feedback
				.title Начать работу
				.text
					p Оставьте свои контакты, наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время.
				form.form.form_feedback(action='', method='post')
					include layout/blocks/form-feedback

	.content-aside.content-aside_right.js-scroll-wrap.js-bottom-stick
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner
				.content-aside__header
					.search
						.search-filter
							form.filter.filter_front(method='post', action='/transfer_result.html')
								.filter-item.filter-item_text
									.filter-input(title='Откуда')
										span.clean
											.ico: img(src='/img/list-marker.svg', alt='')
											input(type='text', name='from', placeholder='Откуда')
									.filter-clear

								.filter-item.filter-item_text.filter-item_last
									.filter-input(title='Куда')
										span.clean
											.ico: img(src='/img/list-marker.svg', alt='')
											input(type='text', name='from', placeholder='Куда')
									.filter-clear

								.filter-submit
									input.btn.btn_sld(type='submit', value='Поехали')


				.transfer-result
					.transfer-item Расстояние : 500 км.
					.transfer-item В пути : ~ 50 мин.
					.control
						a.control-link(href='#') Показать обратный трансфер
						a.control-link(href='#') Условия перевозки

				.cars-list
					.cars-wrap
						.cars-item
							.cars-img: img(src='/img/temp/car_001.jpg', alt='')
							.cars-info
								.title Эконом-класс
								.text
									p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии»
									ul.ul_location
										li 4 пассажира
										li 3 багажных места
									.direction-list
										.direction-item
										.direction-item
										.direction-item
										.direction-item
										.direction-item

							.cars-price
								.cars-price_val 350 350 Р
								.cars-price_btn.btn Заказать трансфер
						.cars-item
							.cars-img: img(src='/img/temp/car_001.jpg', alt='')
							.cars-info
								.title Эконом-класс
								.text
									p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии»
									ul.ul_location
										li 4 пассажира
										li 3 багажных места
									.direction-list
										.direction-item
										.direction-item
										.direction-item
										.direction-item

							.cars-price
								.cars-price_val 350 350 Р
								.cars-price_btn.btn Заказать трансфер
						.cars-item
							.cars-img: img(src='/img/temp/car_001.jpg', alt='')
							.cars-info
								.title Эконом-класс
								.text
									p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии»
									ul.ul_location
										li 4 пассажира
										li 3 багажных места
									.direction-list
										.direction-item
										.direction-item
										.direction-item
										.direction-item

							.cars-price
								.cars-price_val 350 350 Р
								.cars-price_btn.btn Заказать трансфер
						.cars-item
							.cars-img: img(src='/img/temp/car_001.jpg', alt='')
							.cars-info
								.title Эконом-класс
								.text
									p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии»
									ul.ul_location
										li 4 пассажира
										li 3 багажных места
									.direction-list
										.direction-item
										.direction-item
										.direction-item
										.direction-item

							.cars-price
								.cars-price_val 350 350 Р
								.cars-price_btn.btn Заказать трансфер
						.cars-item
							.cars-img: img(src='/img/temp/car_001.jpg', alt='')
							.cars-info
								.title Эконом-класс
								.text
									p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии»
									ul.ul_location
										li 4 пассажира
										li 3 багажных места
									.direction-list
										.direction-item
										.direction-item
										.direction-item
										.direction-item

							.cars-price
								.cars-price_val 350 350 Р
								.cars-price_btn.btn Заказать трансфер
						.cars-item
							.cars-img: img(src='/img/temp/car_001.jpg', alt='')
							.cars-info
								.title Эконом-класс
								.text
									p Одними из ключевых направлений деятельность «Клиники гинекологии» доктора Михаэля Шрётера в Баден-Бадене является поддержание женского здоровья на высоком уровне. гинекологии»
									ul.ul_location
										li 4 пассажира
										li 3 багажных места
									.direction-list
										.direction-item
										.direction-item
										.direction-item
										.direction-item

							.cars-price
								.cars-price_val 350 350 Р
								.cars-price_btn.btn Заказать трансфер


				.copyright
					.copyright-logo: img(src='/img/copyright.svg')
					.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>

	.content-aside.content-aside_slide
		.content-close: i
		.content-wrap.js-bottom-stick.js-scroll-wrap
			.inner





