.inner__feedback
	form.form.form_feedback.hidden(action='', method='post')
		.title Начать работу
		.form__close.js-call-toggle: include ../../img/ico/close-cross.svg
		.text
			p Оставьте Ваши контакты, мы перезвоним Вам в ближайшее время
		include form-feedback
	.inner__feedback-contact
		.title Заказать звонок
		.text
			p Не нашли подходящую клинику? Свяжитесь с нами любым удобным для&nbsp;Вас способом, мы обязательно Вам ответим.
		.inner__feedback-phone 8 (800) 952 85 85<br>8 (911) 781 77 77
		.inner__feedback-item.inner__feedback-item_form.js-call-toggle Заказать звонок
		.inner__feedback-item.inner__feedback-item_telegram
		.inner__feedback-item.inner__feedback-item_viber
		.inner__feedback-item.inner__feedback-item_whatsup