form.form.form_feedback(action='/data/test.json', method='post')
	.form-field
		input(type='text', placeholder='Ваше имя', name='', data-required='true')
	//-.form-field
		input(type='text', placeholder='E-mail',name='', data-required='email')
	.form-field
		input(type='text', placeholder='Телефон', name='', data-required='phone')
	.form-field.form-field_submit
		input(type='submit')
		.form-message Вам необходимо заполнить одно из выделенных полей