form.form.form_content(action='/data/test.json', method='post')
	p Оставьте свой контакт и мы свяжемся с Вами в течении часа.
	.form-left
		.form-field
			input(type='text', placeholder='Ваше имя', name='', data-required='true')
		.form-field
			input(type='text', placeholder='E-mail',name='', data-required='email')
		.form-field
			input(type='text', placeholder='Телефон', name='', data-required='phone')
	.form-right
		.form-field
			textarea(placeholder='Вы можете оставить комментарий, или какой-то тут текст будет', name='')
	.form-field.form-field_submit
		input(type='submit')
		.form-message Вам необходимо заполнить одно из выделенных полей