aside.aside
	a.aside-logo(href='/')
	.aside-menubtn: span: i
	.aside-nav
		.aside-nav__list
			.aside-nav__item: a.aside-nav__link(class= pageName == 'tourism' ? "active" : "", href='/tourism.html') Туризм
			.aside-nav__item: a.aside-nav__link(class= pageName == 'medicine' ? "active" : "", href='/medicine.html') Медицина
			.aside-nav__item: a.aside-nav__link(class= pageName == 'education' ? "active" : "", href='/education.html') Образование
			.aside-nav__item: a.aside-nav__link(class= pageName == 'transfer' ? "active" : "", href='/transfer.html') Трансфер
			.aside-nav__item: a.aside-nav__link(class= pageName == 'concierge' ? "active" : "", href='/concierge.html') Консьерж
		.aside-nav__list
			.aside-nav__item: a.aside-nav__link(class= pageName == 'about' ? "active" : "", href='#') О нас
			.aside-nav__item: a.aside-nav__link(class= pageName == 'news' ? "active" : "", href='/news.html') Новости
			.aside-nav__item: a.aside-nav__link(class= pageName == 'contacts' ? "active" : "", href='/contacts.html') Контакты
	.aside-lang
		span.aside-lang__text RU
		span.aside-lang__close: i
	.aside-nav.aside-nav_lan
		.aside-nav__list
			.aside-nav__item: a.aside-nav__link(class= pageName == 'tourism' ? "active" : "", href='/') RU
			.aside-nav__item: a.aside-nav__link(class= pageName == 'medicine' ? "active" : "", href='/') EN
			.aside-nav__item: a.aside-nav__link(class= pageName == 'education' ? "active" : "", href='/') DE
