
.page

	.text
		.title Экскурсии по Кёльну
			.control
				a.control-link.js-load-content(href='/content/city_001.html') Вернуться к городу

		form.filter.filter_object(method='post', action='/')

			.filter-item.filter-item_choose
				input.hidden.input_choose(value='0', name='city')
				.filter-input(title='Тип экскурсии')
					span.clean Тип экскурсии
					span.filled Тип:&nbsp;
						i.js-result
				.filter-clear
				.filter-dropdown
					.filter-dropdown__list.js-scroll-wrap
						.filter-dropdown__item
							.filter-dropdown__link(data-val='1', data-desc='Пешие экскурсии') Пешие экскурсии
						.filter-dropdown__item
							.filter-dropdown__link(data-val='2', data-desc='Автомобильные экскурсии') Автомобильные экскурсии
						.filter-dropdown__item
							.filter-dropdown__link(data-val='3', data-desc='Морские экскурсии') Морские экскурсии
						.filter-dropdown__item
							.filter-dropdown__link(data-val='4', data-desc='Автобусные экскурсии') Автобусные экскурсии

			.filter-item.filter-item_choose
				input.hidden.input_choose(value='0', name='prices')
				.filter-input(title='Продолжительность экскурсии')
					span.clean Продолжительность экскурсии
					span.filled Продолжительность:&nbsp;
						i.js-result
				.filter-clear
				.filter-dropdown
					.filter-dropdown__list.js-scroll-wrap
						.filter-dropdown__item
							.filter-dropdown__link(data-val='1', data-desc='10 минут') 10 минут (12)
						.filter-dropdown__item
							.filter-dropdown__link(data-val='2', data-desc='1 час') 1 час (7)
						.filter-dropdown__item
							.filter-dropdown__link(data-val='3', data-desc='1 день') 1 день (5)


		.card.card_excursions
			.card-list
				.card-item.js-load-content(data-href='/content/city_001_excursion-item.html')
					.card-inner
						.card-poster
							.minig.minig_col-5
								.minig-gallery
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_001.jpg', alt='')
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_003.jpg', alt='')
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_001.jpg', alt='')
								.minig-hendler
									.minig-hendler__item: span
									.minig-hendler__item: span
									.minig-hendler__item: span
									.minig-hendler__item: span
									.minig-hendler__item: span

						.card-info
							.card-info__title Кёльнский собор собор Кёльнский собор
							.card-info__time 6 часов
							.card-info__person 1 человек
							.card-info__type.active Пешая
							.card-info__price 35 Э
				.card-item.js-load-content(data-href='/content/city_001_excursion-item.html')
					.card-inner
						.card-poster
							.minig.minig_col-3
								.minig-gallery
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_001.jpg', alt='')
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_003.jpg', alt='')
								.minig-hendler
									.minig-hendler__item: span
									.minig-hendler__item: span
									.minig-hendler__item: span
						.card-info
							.card-info__title Кёльнский собор
							.card-info__time 6 часов
							.card-info__person 1 человек
							.card-info__type Автобусная
							.card-info__price 350 Э
				.card-item.js-load-content(data-href='/content/city_001_excursion-item.html')
					.card-inner
						.card-poster
							.minig.minig_col-2
								.minig-gallery
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_003.jpg', alt='')
								.minig-hendler
									.minig-hendler__item: span
									.minig-hendler__item: span
						.card-info
							.card-info__title Кёльнский собор Кёльнский собор
							.card-info__time 6 часов
							.card-info__person 1 человек
							.card-info__type Автобусная
							.card-info__price 350 Э
				.card-item.js-load-content(data-href='/content/city_001_excursion-item.html')
					.card-inner
						.card-poster
							.minig.minig_col-4
								.minig-gallery
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_001.jpg', alt='')
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_003.jpg', alt='')
									.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
								.minig-hendler
									.minig-hendler__item: span
									.minig-hendler__item: span
									.minig-hendler__item: span
									.minig-hendler__item: span
						.card-info
							.card-info__title Кёльнский собор
							.card-info__time 6 часов
							.card-info__person 1 человек
							.card-info__type Пешая
							.card-info__price 35 Э


script.
	$(function () {
		$.app.scrollBar.init();
	});