.page
	.images
		//-.images-big: img(src='/img/temp/object_001.jpg', alt='')
		a.images-big.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_prev_001.jpg', alt='')
		.images-list
			//-a.images-item.active.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/object_001_01.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_001_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_002_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_003_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_004_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_002_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_003_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_004_s.jpg', alt='')


	.title Туры в Сирию в Алепо
	.text
		ul
			li.li_time 6 часов
			li.li_person до 20 человек, можно с детьми

		p <span class="text-prise">360 Э</span> за экскурсию

		p Специализация: гинекологическая онкология, минимально инвазивная хирургия, реконструктивная пластическая хирургия, сенология
		p Медицинский персонал гинекологического отделения города Эсслинген особое внимание уделяет качеству оказываемых медицинских услуг, ориентируясь при лечении пациентов на национально и международно признанные директивы и стандарты качества в области гинекологии и акушерства. Поскольку самочувствие и состояние пациентов в значительной степени влияет на процесс выздоровления, сотрудники отделения заботятся о том, чтобы их прибывание было максимально комфортным и приятным.


		.js-slider-wrap
			.subtitle Похожие экскурсии
				.control
					span.control-link.control-link_arrow.control-link_arrow-left: include ../img/arrow-left.svg
					span.control-link.control-link_arrow.control-link_arrow-right: include ../img/arrow-right.svg
					a.control-link(href='/content/city_001_excursions.html') Все похожие экскурсии

			.slider.slider_excursions
				.slider-list.js-page-slider
					.slider-item.js-load-content(data-href='/content/city_001_excursion-item.html')
						.slider-inner
							.slider-poster
								.minig.minig_col-5
									.minig-gallery
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_001.jpg', alt='')
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_003.jpg', alt='')
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_001.jpg', alt='')
									.minig-hendler
										.minig-hendler__item: span
										.minig-hendler__item: span
										.minig-hendler__item: span
										.minig-hendler__item: span
										.minig-hendler__item: span

							.slider-info
								.slider-info__title Кёльнский собор собор Кёльнский собор
								.slider-info__time 6 часов
								.slider-info__person 1 человек
								.slider-info__type.active Пешая
								.slider-info__price 35 Э
					.slider-item.js-load-content(data-href='/content/city_001_excursion-item.html')
						.slider-inner
							.slider-poster
								.minig.minig_col-3
									.minig-gallery
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_001.jpg', alt='')
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_003.jpg', alt='')
									.minig-hendler
										.minig-hendler__item: span
										.minig-hendler__item: span
										.minig-hendler__item: span
							.slider-info
								.slider-info__title Кёльнский собор
								.slider-info__time 6 часов
								.slider-info__person 1 человек
								.slider-info__type Автобусная
								.slider-info__price 350 Э
					.slider-item.js-load-content(data-href='/content/city_001_excursion-item.html')
						.slider-inner
							.slider-poster
								.minig.minig_col-2
									.minig-gallery
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_003.jpg', alt='')
									.minig-hendler
										.minig-hendler__item: span
										.minig-hendler__item: span
							.slider-info
								.slider-info__title Кёльнский собор Кёльнский собор
								.slider-info__time 6 часов
								.slider-info__person 1 человек
								.slider-info__type Автобусная
								.slider-info__price 350 Э
					.slider-item.js-load-content(data-href='/content/city_001_excursion-item.html')
						.slider-inner
							.slider-poster
								.minig.minig_col-4
									.minig-gallery
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_001.jpg', alt='')
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_003.jpg', alt='')
										.minig-gallery__item: img.minigal-img(src='/img/temp/excurs_002.jpg', alt='')
									.minig-hendler
										.minig-hendler__item: span
										.minig-hendler__item: span
										.minig-hendler__item: span
										.minig-hendler__item: span
							.slider-info
								.slider-info__title Кёльнский собор
								.slider-info__time 6 часов
								.slider-info__person 1 человек
								.slider-info__type Пешая
								.slider-info__price 35 Э

	.search
		.search-title Хотите посетить эту клинику?
		.search-text Заполните форму и мы организуем Вам трансфер.
		.search-filter
			form.filter.filter_front(method='post', action='/medicine.html')
				.filter-item.filter-item_text
					.filter-input(title='Откуда')
						span.clean
							.ico: img(src='/img/list-marker.svg', alt='')
							input(type='text', name='from', placeholder='Откуда')
					.filter-clear

				.filter-item.filter-item_fix.filter-item_last
					.filter-input(title='Гинекологическое отделение клиники города Эсслинген')
						span.clean
							.ico: img(src='/img/list-marker_city.svg', alt='')
							| Гинекологическое отделение клиники города Эсслинген
				.filter-submit
					input.btn.btn_sld(type='submit', value='Поехали')


	.copyright
		.copyright-logo: img(src='/img/copyright.svg')
		.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>

script.

	$(function(){

		$.app.scrollBar.init();
		$.app.slider.init();

	});

