
.page

	.content-aside__header(style="background-image:url('/img/bg_1.jpg');")

	.images
		.images-big: img(src='/img/temp/object_001.jpg', alt='')
		.images-list
			//-a.images-item.active.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/object_001_01.jpg', alt='')
			a.images-item.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/gallery_001_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/gallery_002_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/gallery_003_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/gallery_004_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/gallery_002_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/gallery_003_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/gallery_004_s.jpg', alt='')


	.title Кёльн
	.text

		p Специализация: гинекологическая онкология, минимально инвазивная хирургия, реконструктивная пластическая хирургия, сенология
		p 1983 г. — диплом о медицинском образовании<br>
			| 1991 г. – аспирантура в университете города Вюрцбург<br>
			| С 1992 г. – врач-специалист в области гинекологии и акушерства<br>
			| 1998-1999 г. – аспирантура в Европейском институте онкологии в Милане<br>
			| 2002 г. – защита докторской диссертации в области гинекологии и акушерства<br>
			| С 2007 г. – главврач отделения гинекологии и акушерства клиники г. Эсслинген
		p Медицинский персонал гинекологического отделения города Эсслинген особое внимание уделяет качеству оказываемых медицинских услуг, ориентируясь при лечении пациентов на национально и международно признанные директивы и стандарты качества в области гинекологии и акушерства. Поскольку самочувствие и состояние пациентов в значительной степени влияет на процесс выздоровления, сотрудники отделения заботятся о том, чтобы их прибывание было максимально комфортным и приятным. Отделение специализируется также на щадящих и малоболезненных методах лечения

		.subtitle Почему стоит поехать в Кёльн?

		.count.count_4
			.count-item
				.count-num(data-count="183") 0
				.count-title Культурные учреждения
				.count-text Мы предоставляем услуги трансфера по всей территории Германии.
			.count-item
				.count-num(data-count="25") 0
				.count-title Медицинские учреждения
				.count-text Мы предоставляем услуги трансфера по всей территории Германии.
			.count-item
				.count-num(data-count="25") 0
				.count-title Образовательные учреждения
				.count-text Мы предоставляем услуги трансфера по всей территории
			.count-item.count-item_boofer

		.subtitle Достопримечательности

		.direction-list.direction-list_m
			.direction-item(data-tooltip='РЕЙХСТАГ')
			.direction-item(data-tooltip='РЕЙХСТАГ')
			.direction-item(data-tooltip='РЕЙХСТАГ')
			.direction-item(data-tooltip='РЕЙХСТАГ')
			.direction-item(data-tooltip='РЕЙХСТАГ')
			.direction-item(data-tooltip='РЕЙХСТАГ')
			.direction-item(data-tooltip='РЕЙХСТАГ')
			.direction-item(data-tooltip='РЕЙХСТАГ')
			.direction-item(data-tooltip='РЕЙХСТАГ')
			.direction-item(data-tooltip='РЕЙХСТАГ')
			.direction-item(data-tooltip='РЕЙХСТАГ')

		.js-slider-wrap
			.subtitle Экскурсии
				.control
					span.control-link.control-link_arrow.control-link_arrow-left: include ../img/arrow-left.svg
					span.control-link.control-link_arrow.control-link_arrow-right: include ../img/arrow-right.svg
					a.control-link.js-load-content(href='/content/city_001_excursions.html') Все экскурсии


			.slider.slider_excursiontype
				.slider-list.js-page-slider
					.slider-item
						.slider-inner
							.slider-img
								img(src='/img/tourism/tourism_walk.png', alt='Пешие экскурсии')
								.slider-val(data-count="183") 0
							.slider-title Пешие экскурсии
							.slider-text Мы предоставляем услуги трансфера по всей территории Германии.
					.slider-item
						.slider-inner
							.slider-img
								img(src='/img/tourism/tourism_car.png', alt='Автомобильные экскурсии')
								.slider-val(data-count="183") 0
							.slider-title Автомобильные экскурсии
							.slider-text Мы предоставляем услуги трансфера по всей территории Германии.
					.slider-item
						.slider-inner
							.slider-img
								img(src='/img/tourism/tourism_boat.png', alt='Морские экскурсии')
								.slider-val(data-count="25") 0
							.slider-title Морские экскурсии
							.slider-text Мы предоставляем услуги трансфера по территории
					.slider-item
						.slider-inner
							.slider-img
								img(src='/img/tourism/tourism_bus.png', alt='Автобусные экскурсии')
								.slider-val(data-count="50") 0
							.slider-title Автобусные экскурсии
							.slider-text Мы предоставляем услуги трансфера по территории


		.map.map_object#objectMap

		.js-slider-wrap
			.subtitle Города рядом
				.control
					span.control-link.control-link_arrow.control-link_arrow-left: include ../img/arrow-left.svg
					span.control-link.control-link_arrow.control-link_arrow-right: include ../img/arrow-right.svg
					a.control-link.js-load-content(href='/content/city_001_environment.html') Все города рядом


			.card
				.card-list.js-page-slider
					.card-item
						.card-inner
							.card-img: .card-ico
							.card-text Бергиш-Гладбах
					.card-item
						.card-inner
							.card-img: .card-ico
							.card-text Леверкузен
					.card-item
						.card-inner
							.card-img: .card-ico
							.card-text Дормаген
					.card-item
						.card-inner
							.card-img: .card-ico
							.card-text Дормаген
					.card-item
						.card-inner
							.card-img: .card-ico
							.card-text Бергиш-Гладбах
					.card-item
						.card-inner
							.card-img: .card-ico
							.card-text Леверкузен
					.card-item
						.card-inner
							.card-img: .card-ico
							.card-text Дормаген
					.card-item
						.card-inner
							.card-img: .card-ico
							.card-text Дормаген

	.search
		.search-title Хотите посетить эту клинику?
		.search-text Заполните форму и мы организуем Вам трансфер.
		.search-filter
			form.filter.filter_front(method='post', action='/medicine.html')
				.filter-item.filter-item_text
					.filter-input(title='Откуда')
						span.clean
							.ico: img(src='/img/list-marker.svg', alt='')
							input(type='text', name='from', placeholder='Откуда')
					.filter-clear

				.filter-item.filter-item_fix.filter-item_last
					.filter-input(title='Гинекологическое отделение клиники города Эсслинген')
						span.clean
							.ico: img(src='/img/list-marker.svg', alt='')
							| Кёльн
				.filter-submit
					input.btn.btn_sld(type='submit', value='Поехали')


	.copyright
		.copyright-logo: img(src='/img/copyright.svg')
		.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>

script.

	$(function(){

		$.app.scrollBar.init();
		$.app.slider.init();

	});

	ymaps.ready(function () {
		var myMap = new ymaps.Map('objectMap', {
				center: [48.737136, 9.327072],
				zoom: 10,
				controls: []
			}),
			myPlacemark = new ymaps.Placemark([48.737136, 9.327072],
				{},
				{
					iconLayout: 'default#image',
					iconImageHref: '/img/map-marker_m.png',
					iconImageSize: [37, 52],
					iconImageOffset: [-19, -52]
				})

		myMap.behaviors.disable("scrollZoom");
		myMap.geoObjects.add(myPlacemark);


	});