
.page

	.text
		.title Города рядом с Кёльном
			.control
				a.control-link.js-load-content(href='/content/city_001.html') Вернуться к городу

		.card
			.card-list
				.card-item
					.card-inner
						.card-img: .card-ico
						.card-text Бергиш-Гладбах
				.card-item
					.card-inner
						.card-img: .card-ico
						.card-text Леверкузен
				.card-item
					.card-inner
						.card-img: .card-ico
						.card-text Дормаген
				.card-item
					.card-inner
						.card-img: .card-ico
						.card-text Хюрт
				.card-item
					.card-inner
						.card-img: .card-ico
						.card-text Бергиш-Гладбах
				.card-item
					.card-inner
						.card-img: .card-ico
						.card-text Леверкузен
				.card-item
					.card-inner
						.card-img: .card-ico
						.card-text Дормаген
				.card-item
					.card-inner
						.card-img: .card-ico
						.card-text Хюрт
				.card-item
					.card-inner
						.card-img: .card-ico
						.card-text Бергиш-Гладбах
				.card-item
					.card-inner
						.card-img: .card-ico
						.card-text Леверкузен
