
.page

	.text
		.title Бронирование отелей
			.control
				a.control-link.js-content-close(href='#') Вернуться к городу

		p Медицинский персонал гинекологического отделения города Эсслинген особое внимание уделяет качеству оказываемых медицинских услуг, ориентируясь при лечении пациентов на национально и международно признанные директивы и стандарты качества в области гинекологии и акушерства. Поскольку самочувствие и состояние пациентов в значительной степени влияет на процесс выздоровления, сотрудники отделения заботятся о том, чтобы их прибывание было максимально комфортным и приятным.

		.subtitle Заказать услугу

		include ../layout/blocks/form-feedback-text