.page
	.date 17 июля 2016
	.title Госдеп рекомендовал гражданам США пересмотреть планы поездок в Турцию
	.text
		p Госдепартамент США рекомендует гражданам страны пересмотреть планы поездок в Турцию в связи с попыткой военного переворота, которая произошла в ночь на 16 июля. Соответствующее заявление опубликовано на сайте ведомства.
		p Кроме того, Госдеп предупреждает американцев о повышенной угрозе со стороны террористических групп на всей территории Турции, а также рекомендует избегать поездок на юго-восток страны, где находится граница с Сирией.
		p
			img(src='/img/temp/news_001.jpg', alt='...')
		p Госдепартамент США рекомендует гражданам страны пересмотреть планы поездок в Турцию в связи с попыткой военного переворота, которая произошла в ночь на 16 июля. Соответствующее заявление опубликовано на сайте ведомства.
		p Кроме того, Госдеп предупреждает американцев о повышенной угрозе со стороны террористических групп на всей территории Турции, а также рекомендует избегать поездок на юго-восток страны, где находится граница с Сирией.

	.share
		.share-title Поделиться с друзьями
		a.share-item.share-item_vk(href='#')
		a.share-item.share-item_fb(href='#')
		a.share-item.share-item_tw(href='#')
		a.share-item.share-item_ok(href='#')
		a.share-item.share-item_mr(href='#')

	.copyright
		.copyright-logo: img(src='/img/copyright.svg')
		.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>
