.page
	.date 17 июля 2016
	.title Заголовок
	.text Текст


	.share
		.share-title Поделиться с друзьями
		a.share-item.share-item_vk(href='#')
		a.share-item.share-item_fb(href='#')
		a.share-item.share-item_tw(href='#')
		a.share-item.share-item_ok(href='#')
		a.share-item.share-item_mr(href='#')

	.copyright
		.copyright-logo: img(src='/img/copyright.svg')
		.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>