
.page

	.text

		.title Фотогалерея гинекологическое отделение клиники города Эсслинген
			.control
				a.control-link.js-load-content(href='/content/object_001.html') Вернуться к клинике

		.gallery
			.gallery-picture
				.gallery-picture__list.js-gallery-picture
					.gallery-picture__item
						.gallery-picture__inner: span: img(src='/img/temp/gallery_001.jpg', alt='')
					.gallery-picture__item
						.gallery-picture__inner: span: img(src='/img/temp/gallery_002.jpg', alt='')
					.gallery-picture__item
						.gallery-picture__inner: span: img(src='/img/temp/gallery_003.jpg', alt='')
					.gallery-picture__item
						.gallery-picture__inner: span: img(src='/img/temp/gallery_004.jpg', alt='')
					.gallery-picture__item
						.gallery-picture__inner: span: img(src='/img/temp/gallery_001.jpg', alt='')
					.gallery-picture__item
						.gallery-picture__inner: span: img(src='/img/temp/gallery_002.jpg', alt='')
					.gallery-picture__item
						.gallery-picture__inner: span: img(src='/img/temp/gallery_003.jpg', alt='')
					.gallery-picture__item
						.gallery-picture__inner: span: img(src='/img/temp/gallery_004.jpg', alt='')
			.gallery-preview
				.gallery-preview__arrow.gallery-preview__arrow_prev: include ../img/arrow-left.svg
				.gallery-preview__arrow.gallery-preview__arrow_next: include ../img/arrow-right.svg
				.gallery-preview__list.js-gallery-preview
					.gallery-preview__item
						.gallery-preview__inner: img(src='/img/temp/gallery_001_s.jpg', alt='')
					.gallery-preview__item
						.gallery-preview__inner: img(src='/img/temp/gallery_002_s.jpg', alt='')
					.gallery-preview__item
						.gallery-preview__inner: img(src='/img/temp/gallery_003_s.jpg', alt='')
					.gallery-preview__item
						.gallery-preview__inner: img(src='/img/temp/gallery_004_s.jpg', alt='')
					.gallery-preview__item
						.gallery-preview__inner: img(src='/img/temp/gallery_001_s.jpg', alt='')
					.gallery-preview__item
						.gallery-preview__inner: img(src='/img/temp/gallery_002_s.jpg', alt='')
					.gallery-preview__item
						.gallery-preview__inner: img(src='/img/temp/gallery_003_s.jpg', alt='')
					.gallery-preview__item
						.gallery-preview__inner: img(src='/img/temp/gallery_004_s.jpg', alt='')

script.
	$(function(){
		$.app.gallery.init(0);
	});