.page
	.images
		.images-big: img(src='/img/temp/object_003.jpg', alt='')
		.images-list
			//-a.images-item.active.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/object_001_01.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_001_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_002_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_003_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_004_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_002_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_003_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_004_s.jpg', alt='')


	.title Заголовок
	.text
		ul
			li.li_location Esslingen73730, Hirschlandstrasse 97, Штутгарт Германия
			li.li_phone +49 (711) 217 243 75
			li.li_web
				a(href='mailto:klinik-esslingen.ru') klinik-esslingen.ru

		.direction-list
			.direction-item
			.direction-text Уровень цен<br>средний
			.direction-item
			.direction-text Время ответа<br>14 дней

		p Специализация: гинекологическая онкология, минимально инвазивная хирургия, реконструктивная пластическая хирургия, сенология

		ul
			li 1983 г. — диплом о медицинском образовании
			li 1991 г. – аспирантура в университете города Вюрцбург
			li С 1992 г. – врач-специалист в области гинекологии и акушерства

		p Медицинский персонал гинекологического отделения города Эсслинген особое внимание уделяет качеству оказываемых медицинских услуг, ориентируясь при лечении пациентов на национально и международно признанные директивы и стандарты качества в области гинекологии и акушерства. Поскольку самочувствие и состояние пациентов в значительной степени влияет на процесс выздоровления, сотрудники отделения заботятся о том, чтобы их прибывание было максимально комфортным и приятным.

		.subtitle Основные виды деятельности

		.direction-list.direction-list_m
			.direction-item
			.direction-item
			.direction-item
			.direction-item

		.subtitle Ведущие врачи клиники

		.map.map_object#objectMap

		.subtitle Услуги организации

		.subtitle Похожие клиники

	.copyright
		.copyright-logo: img(src='/img/copyright.svg')
		.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>

script.
	ymaps.ready(function () {
		var myMap = new ymaps.Map('objectMap', {
					center: [52.520891, 13.374191],
					zoom: 10,
					controls: []
				}),
				myPlacemark = new ymaps.Placemark([52.520891, 13.374191],
						{},
						{
							iconLayout: 'default#image',
							iconImageHref: '/img/map-marker_m.png',
							iconImageSize: [37, 52],
							iconImageOffset: [-19, -52]
						})

		myMap.behaviors.disable("scrollZoom");
		myMap.geoObjects.add(myPlacemark);

		//myMap.behaviors.disable('scrollZoom');

	});