.page
	.images
		.images-big: img(src='/img/temp/object_001.jpg', alt='')
		.images-list
			//-a.images-item.active.js-load-content(href='/content/city_001_photo.html'): img(src='/img/temp/object_001_01.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_001_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_002_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_003_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_004_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_002_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_003_s.jpg', alt='')
			a.images-item.js-load-content(href='/content/object_001_photo.html'): img(src='/img/temp/gallery_004_s.jpg', alt='')


	.title Гинекологическое отделение клиники города Эсслинген
	.text
		ul
			li.li_location Esslingen73730, Hirschlandstrasse 97, Штутгарт Германия
			li.li_phone +49 (711) 217 243 75
			li.li_web
				a(href='mailto:klinik-esslingen.ru') klinik-esslingen.ru

		.direction-list
			.direction-item
			.direction-text Уровень цен<br>средний
			.direction-item
			.direction-text Время ответа<br>14 дней

		p Специализация: гинекологическая онкология, минимально инвазивная хирургия, реконструктивная пластическая хирургия, сенология

		ul
			li 1983 г. — диплом о медицинском образовании
			li 1991 г. – аспирантура в университете города Вюрцбург
			li С 1992 г. – врач-специалист в области гинекологии и акушерства
			li 1998-1999 г. – аспирантура в Европейском институте онкологии в Милане
			li 2002 г. – защита докторской диссертации в области гинекологии и акушерства
			li С 2007 г. – главврач отделения гинекологии и акушерства клиники г. Эсслинген

		p Медицинский персонал гинекологического отделения города Эсслинген особое внимание уделяет качеству оказываемых медицинских услуг, ориентируясь при лечении пациентов на национально и международно признанные директивы и стандарты качества в области гинекологии и акушерства. Поскольку самочувствие и состояние пациентов в значительной степени влияет на процесс выздоровления, сотрудники отделения заботятся о том, чтобы их прибывание было максимально комфортным и приятным.

		.subtitle Основные виды деятельности

		.direction-list.direction-list_m
			.direction-item(data-tooltip='минимально инвазивная хирургия')
			.direction-item(data-tooltip='минимально инвазивная хирургия')
			.direction-item(data-tooltip='минимально инвазивная хирургия')
			.direction-item(data-tooltip='минимально инвазивная хирургия')
			.direction-item(data-tooltip='минимально инвазивная хирургия')
			.direction-item(data-tooltip='минимально инвазивная хирургия')
			.direction-item(data-tooltip='минимально инвазивная хирургия')
			.direction-item(data-tooltip='минимально инвазивная хирургия')
			.direction-item(data-tooltip='минимально инвазивная хирургия')
			.direction-item(data-tooltip='минимально инвазивная хирургия')
			.direction-item(data-tooltip='минимально инвазивная хирургия')

		.subtitle Ведущие врачи клиники

		.specialists-list
			.specialists-item
				.specialists-img: img(src='/img/temp/specialists_01.jpg', alt='')
				.specialists-info
					.specialists-info__title Торстен Кюн
					.specialists-info__text Профессор доктор медицинских наук
			.specialists-item
				.specialists-img: img(src='/img/temp/specialists_02.jpg', alt='')
				.specialists-info
					.specialists-info__title Торстен Кюн
					.specialists-info__text Хирург

		.map.map_object#objectMap

		.js-slider-wrap
			.subtitle Услуги организации
				.control
					span.control-link.control-link_arrow.control-link_arrow-left: include ../img/arrow-left.svg
					span.control-link.control-link_arrow.control-link_arrow-right: include ../img/arrow-right.svg
					a.control-link(href='#') Все услуги

			.slider.slider_object
				.slider-list.js-page-slider
					.slider-item.slider-item_services
						.slider-inner
							.head
								.ico
							.title Трансфер
							.text Мы предоставляем услуги трансфера по всей территории Германии.
					.slider-item.slider-item_services
						.slider-inner
							.head
								.ico
							.title Трансфер
							.text Мы предоставляем услуги трансфера по всей территории Германии.
					.slider-item.slider-item_services
						.slider-inner
							.head
								.ico
							.title Трансфер
							.text Мы предоставляем услуги трансфера по всей территории Германии.
					.slider-item.slider-item_services
						.slider-inner
							.head
								.ico
							.title Трансфер
							.text Мы предоставляем услуги трансфера по всей территории Германии.
					.slider-item.slider-item_services
						.slider-inner
							.head
								.ico
							.title Трансфер
							.text Мы предоставляем услуги трансфера по всей территории Германии.
					.slider-item.slider-item_services
						.slider-inner
							.head
								.ico
							.title Трансфер
							.text Мы предоставляем услуги трансфера по всей территории Германии.
					.slider-item.slider-item_services
						.slider-inner
							.head
								.ico
							.title Трансфер
							.text Мы предоставляем услуги трансфера по всей территории Германии.
					.slider-item.slider-item_services
						.slider-inner
							.head
								.ico
							.title Трансфер
							.text Мы предоставляем услуги трансфера по всей территории Германии.



		.js-slider-wrap
			.subtitle Похожие клиники
				.control
					span.control-link.control-link_arrow.control-link_arrow-left: include ../img/arrow-left.svg
					span.control-link.control-link_arrow.control-link_arrow-right: include ../img/arrow-right.svg
					a.control-link(href='#') Все похожие клиники

			.slider.slider_object
				.slider-list.js-page-slider
					.slider-item.slider-item_clinics
						.slider-inner
							.img: img(src='/img/temp/object_001.jpg', alt='')
							.text Gynecology Department at Friedrichshafen Clinic
							.location Штутгарт, Германия
					.slider-item.slider-item_clinics
						.slider-inner
							.img: img(src='/img/temp/object_002.jpg', alt='')
							.text Gynecology Department at Friedrichshafen Clinic
							.location Штутгарт, Германия
					.slider-item.slider-item_clinics
						.slider-inner
							.img: img(src='/img/temp/object_003.jpg', alt='')
							.text Gynecology Department at Friedrichshafen Clinic
							.location Штутгарт, Германия
					.slider-item.slider-item_clinics
						.slider-inner
							.img: img(src='/img/temp/object_001.jpg', alt='')
							.text Gynecology Department at Friedrichshafen Clinic
							.location Штутгарт, Германия


	.search
		.search-title Хотите посетить эту клинику?
		.search-text Заполните форму и мы организуем Вам трансфер.
		.search-filter
			form.filter.filter_front(method='post', action='/medicine.html')
				.filter-item.filter-item_text
					.filter-input(title='Откуда')
						span.clean
							.ico: img(src='/img/list-marker.svg', alt='')
							input(type='text', name='from', placeholder='Откуда')
					.filter-clear

				.filter-item.filter-item_fix.filter-item_last
					.filter-input(title='Гинекологическое отделение клиники города Эсслинген')
						span.clean
							.ico: img(src='/img/list-marker_city.svg', alt='')
							| Гинекологическое отделение клиники города Эсслинген
				.filter-submit
					input.btn.btn_sld(type='submit', value='Поехали')


	.copyright
		.copyright-logo: img(src='/img/copyright.svg')
		.copyright-text © 2016 Элит Мед Тревел<br><a href="#">Условия использования сайта</a>

script.

	$(function(){

		$.app.scrollBar.init();
		$.app.slider.init();

	});

	ymaps.ready(function () {
		var myMap = new ymaps.Map('objectMap', {
				center: [48.737136, 9.327072],
				zoom: 10,
				controls: []
			}),
			myPlacemark = new ymaps.Placemark([48.737136, 9.327072],
				{},
				{
					iconLayout: 'default#image',
					iconImageHref: '/img/map-marker_m.png',
					iconImageSize: [37, 52],
					iconImageOffset: [-19, -52]
				})

		myMap.behaviors.disable("scrollZoom");
		myMap.geoObjects.add(myPlacemark);


	});