
.aside{
	color: $deepBlue;
	position: relative;
	float: left;
	top:0;
	left: 0;
	height: 100%;
	padding: 10px 5px;
	@include box-sizing();
	width: $asideWidth;
	background: #081520;

	&-logo{
		display: block;
		width: 54px;
		height: 54px;
		background: $deepBlue url("/img/logo.svg") no-repeat 50% 50%;
		@include border-radius(50%);
		margin-bottom: 10px;
	}

	&-menubtn{
		display: block;
		width: 54px;
		height: 54px;
		position: relative;
		background: transparent;
		@include border-radius(50%);
		cursor: pointer;
		z-index: 3;

		i,
		&:before,
		&:after {
			content: '';
			width: 28px;
			height: 2px;
			background: $deepBlue;
			display: block;
			position: absolute;
			left: 50%;
			top:50%;
			margin-top: -1px;
			margin-left: -14px;
			@include transition(all 0.3s ease);
		}

		&:before{
			margin-top: -10px;
		}

		&:after{
			margin-top: 8px;
		}


		&.active{

			i{
				width: 0;
				margin-left: 0;
			}

			&:before{
				margin-top: -1px;
				width: 24px;
				margin-left: -12px;
				@include transform(rotate(45deg));
			}

			&:after{
				margin-top: -1px;
				width: 24px;
				margin-left: -12px;
				@include transform(rotate(135deg));
			}
		}
	}

	&-nav{
		position: absolute;
		left: $asideWidth;
		z-index: 2;
		width: 250px;
		margin-top: -54px;
		display: none;

		&:before{
			content: '';
			display: block;
			background: #fff;
			width: 59px;
			height: 54px;
			@include border-radius(50px 0 0 50px);
			position: absolute;
			margin-left: -59px;
		}

		&__list{
			background: #fff;
			@include border-radius(4px);
			margin-bottom: 10px;
			@include box-shadow(0 0 10px -2px rgba(#000, 0.5));
			overflow: hidden;

			&:first-child{
				border-top-left-radius:0;
			}
		}

		&__item{}

		&__link{
			color: #54575a;
			font-size: 14px;
			line-height: 1;
			text-decoration: none;
			display: block;
			background: transparent;
			padding: 15px 40px;
			@include transition(all 0.3s ease);

			&.active,
			&:hover{
				background: $deepBlue;
				color: #fff;
			}
		}


		&_lan{
			top:auto;
			bottom:5px;

			&:before{
				bottom: 0;
			}

			.aside-nav__list{
				margin-bottom: 0;
				@include border-radius(4px 4px 4px 0);
			}
		}
	}

	&-lang{

		position: absolute;
		line-height: 1;
		left: 0;
		right: 0;
		bottom: 21px;
		text-align: center;
		font-size: 20px;
		cursor: pointer;

		&__text{

		}

		&.active{
			.aside-lang__close{
				display: block;
			}
			.aside-lang__text{
				opacity: 0;
			}
		}

		&__close{
			width: 54px;
			height: 54px;
			position: absolute;
			background: transparent;
			@include border-radius(50%);
			cursor: pointer;
			z-index: 10;
			top: -18px;
			left: 6px;
			display: none;

			i,
			&:before,
			&:after {
				content: '';
				width: 28px;
				height: 2px;
				background: $deepBlue;
				display: block;
				position: absolute;
				left: 50%;
				top:50%;
				margin-top: -1px;
				margin-left: -14px;
				@include transition(all 0.3s ease);
			}

			i{
				width: 0;
				margin-left: 0;
			}

			&:before{
				margin-top: -1px;
				width: 24px;
				margin-left: -12px;
				@include transform(rotate(45deg));
			}

			&:after{
				margin-top: -1px;
				width: 24px;
				margin-left: -12px;
				@include transform(rotate(135deg));
			}

		}

		a{
			text-decoration: none;
		}
	}
}

