
.filter{
	font-size: 0;
	text-align: left;

	&_object{
		background: $colorLight;
		padding: 15px 0;
		@include transition(background-color 0.3s ease);

		&:hover{
			background: $deepBlueLight;
		}
	}

	&_front{

		.filter-item{
			&:after{
				right: 20px;
			}

			&_links{
				width: 100%;

				.filter-input{
					border: none;
					.clean{
						display: inline-block;
						vertical-align: middle;
					}
					.link{
						display: inline-block;
						vertical-align: middle;
						text-decoration: none;
						color: $colorText;
						margin-left: 30px;

						&:hover{
							color: $deepBlue;
						}
					}
				}

			}

		}

		.filter-input{
			margin: 0;
			padding: 8px 60px 8px 30px;
			border-right: 1px solid $colorGrey;
			@include border-radius(0);
			background-color: transparent;
			height: 48px;
		}
	}

	//.filter_object & {

		&-item{
			width: 25%;
			font-size: 14px;
			display: inline-block;
			vertical-align: top;
			position: relative;
			text-align: left;

			&_checkbox,
			&_choose{

				&:after{
					content: '';
					display: block;
					border: 4px solid transparent;
					border-top-color: #b0b0b1;
					position: absolute;
					top:50%;
					right: 29px;
					margin-top: -2px;
				}
			}

			&_last{
				.filter-input{
					border: none;
				}
			}

			&_text{
				.filter-input{
					input{
						border: none;
						font: inherit;
						width: 100%;
					}
					padding-right: 15px;
					cursor: default;
				}
			}

			&_filled{
				.filter-input{
					.clean{
						display: none;
					}
					.filled{
						display: block;
						overflow: hidden;
					}
				}

				.filter-clear{
					display: block;
				}
			}
		}

		&-clear{
			position: absolute;
			width: 16px;
			height: 16px;
			top:50%;
			margin-top: -8px;
			right: 47px;
			background: $deepBlueLight url("/img/uncheck_white.svg") no-repeat 50% 50%;
			@include border-radius(50%);
			display: none;
			cursor: pointer;
			@include transition(background-color 0.3s ease);

			&:hover{
				background-color: $deepBlue;
			}
		}

		&-input{
			margin: 0 10px;
			background: #fff;
			padding: 0 60px 0 30px;
			line-height: 48px;
			color: #919294;
			@include border-radius(50px);
			cursor: pointer;

			&_more{
				background-image: url("/img/filter-more.svg");
				background-position: right 23px top 50%;
				background-repeat: no-repeat;
			}

			span {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				i{
					font: inherit;
				}

				.ico{
					display: inline-block;
					vertical-align: middle;
					margin-right: 15px;
					position: relative;
					top:1px;

					& + input{
						width: 95%;
					}
				}
			}


			.filled{
				display: none;
			}

			.clean{

			}
		}

		&-submit{
			display: inline-block;
			float: right;
			margin: 8px;

			.btn_search{
				background-image: url("/img/ico/ico_find.svg");
				background-position: top 50% right 12px;
				background-repeat: no-repeat;
				padding-right: 50px;
			}
		}

	//}


	&_tourism{

		.filter-item_1{
			width: 456px;
			margin-right: 24px;

			.filter-input{
				border: 0;
			}

			.filter-dropdown{
				&:before{
					left: 420px;
				}
			}
		}

		.filter-item_2{
			width: 456px;
			margin-left: 24px;

			.filter-input{
				border: 0;
			}

			.filter-dropdown{
				left: -496px;
				&:before{
					left: 924px;
				}
			}
		}

		//.filter-divider{
		//	margin-right: 0;
		//	margin-left: 0;
		//}
	}
}


.filter-dropdown{
	position: absolute;
	width: 250px;
	@include box-shadow(0 0 10px -2px rgba(#000, 0.5));
	@include border-radius(4px);
	padding: 5px;
	background: #fff;
	left: 8%;
	top: 56px;
	z-index: 1;
	display: none;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top:-10px;
		left: 20px;
		border: 5px solid transparent;
		border-bottom-color: #fff;
	}


	&.up{
		top: auto;
		bottom: 56px;

		&:before{
			top:auto;
			bottom:-10px;
			border: 5px solid transparent;
			border-top-color: #fff;
		}
	}

	&__list{
		max-height: 180px;
	}
	&__item{}

	&__checkbox{
		padding: 15px 12px;
		cursor: pointer;
		display: block;

		span{
			display: inline-block;
			margin-left: 30px;
			position: relative;

			&:before{
				content: '';
				display: inline-block;
				position: absolute;
				left: -30px;
				top:-2px;
				width: 18px;
				height: 18px;
				border: 1px solid #d7d7d8;
				@include border-radius(3px);
				background: no-repeat 50% 50%;
			}
		}

		input{

			&:checked + {
				span{
					&:before{
						border-color: $deepBlue;
						background-color: $deepBlue;
						background-image: url("/img/check_white.svg");
					}
				}
			}
		}

		&:hover{

			span{
				color: $deepBlue;
				&:before{
					border-color: $deepBlue;
					background-image: url("/img/check_color.svg");
				}
			}

			input{

				&:checked + {

					span{
						color: $colorRed;
						&:before{
							border-color: $colorRed;
							background-color: $colorRed;
							background-image: url("/img/uncheck_white.svg");
						}
					}
				}
			}
		}
	}

	&__link{
		padding: 15px 12px;
		cursor: pointer;
		display: block;

		&:hover{
			color: $deepBlue;
		}
	}

	&__title{
		padding: 15px 12px;
		display: block;
		color: #919294;
	}

	.filter-item:last-child &{
		left: auto;
		right: 10%;

		&:before{
			left: 40%;
		}

	}

}