@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,cyrillic);


@font-face {
	font-family: 'Conv_Helvetica';
	src: url('/fonts/helvetica_light/HelveticaNeueCyr-Light.eot');
	src: local('☺'), url('/fonts/helvetica_light/HelveticaNeueCyr-Light.woff') format('woff'),
	url('/fonts/helvetica_light/HelveticaNeueCyr-Light.ttf') format('truetype'),
	url('/fonts/helvetica_light/HelveticaNeueCyr-Light.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_Helvetica';
	src: url('/fonts/helvetica_roman/HelveticaNeueCyr-Roman.eot');
	src: local('☺'), url('/fonts/helvetica_roman/HelveticaNeueCyr-Roman.woff') format('woff'),
	url('/fonts/helvetica_roman/HelveticaNeueCyr-Roman.ttf') format('truetype'),
	url('/fonts/helvetica_roman/HelveticaNeueCyr-Roman.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_Helvetica';
	src: url('/fonts/helvetica_bold/HelveticaNeueCyr-Bold.eot');
	src: local('☺'), url('/fonts/helvetica_bold/HelveticaNeueCyr-Bold.woff') format('woff'),
	url('/fonts/helvetica_bold/HelveticaNeueCyr-Bold.ttf') format('truetype'),
	url('/fonts/helvetica_bold/HelveticaNeueCyr-Bold.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

