.content-aside_front{
	position: relative;
	text-align: center;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.inner{
		display: inline-block;
		vertical-align: middle;
		//width: (2 * 100% / 3);
		width: 1160px;
		padding: 0;
	}
}

.front{

	&-logo{
		text-align: center;
	}

	&-filter{

		&__list{
			text-align: left;
			margin-top: 145px;
		}

		&__link{
			color: #fff;
			margin: 0 10px;

			&:hover{
				background-color: transparent;
			}

			&.active{
				background-color: $deepBlue;
			}
		}

		&__tabs{
			background: #fff;
			@include border-radius(50px);
			margin: 20px 10px 0;

			&-item{
				display: none;
				height: 64px;

				&.active{
					display: block;
				}
			}
		}

	}


	.filter-submit{
		.btn{
			width: 150px;
			@include box-sizing();
		}
	}

	.filter-divider{
		width: 48px;
		height: 48px;
		@include border-radius(50%);
		background: $deepBlue;
		display: inline-block;
		margin: 8px -24px;
		position: absolute;
		z-index: 1;
		color: #fff;
		line-height: 48px;
		text-align: center;
		font-size: 14px;
	}

	.filter-item{

		&_half{
			width: 480px;
		}

		&_full{
			width: 960px;
		}

		.filter-dropdown{
			width: 1115px;
			top: 72px;


			&.up{
				top: auto;
				bottom: 72px;
			}

			&__col {
				float: left;
				width: 275px;
			}

			&__list {
				max-height: 165px;
			}

			&__link {
				padding: 10px 12px;
			}
			&__title{
				padding: 10px 12px;
			}
		}


		&_1{
			.filter-dropdown{
				left: 8px;
				&:before{
					left: 247px;
				}
			}
		}
		&_2{
			.filter-dropdown{
				left: -277px;
				&:before{
					left: 532px;
				}
			}
		}
		&_3{
			.filter-dropdown{
				left: -564px;
				&:before{
					left: 817px;
				}
			}
		}

	}


}