
//@mixin btn(){
//	position: relative;
//	display: inline-block;
//	text-decoration: none;
//	cursor: pointer;
//
//	&.active,
//	&:hover{
//		&:after{
//			width: 100%;
//		}
//	}
//
//	&_rnd{
//
//	}
//
//}





.btn{
	position: relative;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	line-height: 44px;
	color: $deepBlue;
	padding: 0 35px;
	border: 2px solid currentColor;
	@include border-radius(50px);
	font-size: 14px;
	@include user-select();
	@include transition();
	background: transparent;
	white-space: nowrap;

	&_sld,
	&.active,
	&:hover{
		background-color: $deepBlue;
		border-color: $deepBlue;
		color: #fff;
	}

	&_sld{
		&:hover{
			background-color: $deepBlueHover;
		}
	}
}






.wrapper  {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
}



.website {
	position: relative;
	height: 100%;
	margin-left: $asideWidth;
	overflow: hidden;

	img{
		max-width: 100%;
		max-height: 100%;
		display: inline-block;
	}
}


.hidden{
	display: none;
}





// typo

.title{
	color: $deepBlue;
	font-size: 30px;
	font-weight: 600;
}

.subtitle{
	font-size: 24px;
	font-weight: 600;
	margin-top: 60px;
	margin-bottom: 20px;
	line-height: 1.2;
}

.text{
	line-height: 1.7;

	&-prise{
		font-size: 40px;
		font-weight: 900;
		color: $deepBlueLight;
		display: inline-block;
		margin-right: 5px;
	}

	a{
		color: $deepBlue;
	}

	p{
		margin: 20px 0;
	}

	ul{
		margin: 20px 0;
		li{
			position: relative;
			margin-left: 20px;
			margin-bottom: 3px;

			&:before{
				content: '';
				width: 6px;
				display: block;
				height: 6px;
				background: $deepBlue;
				position: absolute;
				@include border-radius(50%);
				left: -20px;
				top:8px;
			}


			&.li_location{
				margin-left: 22px;
				&:before{
					width: 13px;
					height: 17px;
					background: url("/img/list-marker.svg") no-repeat 50% 50%;
					left: -22px;
					top:3px;
					@include border-radius(0);
				}
			}
			&.li_phone{
				margin-left: 22px;
				&:before{
					width: 11px;
					height: 17px;
					background: url("/img/list-marker_phone.svg") no-repeat 50% 50%;
					left: -21px;
					top:3px;
					@include border-radius(0);
				}
			}
			&.li_web{
				margin-left: 22px;
				&:before{
					width: 15px;
					height: 15px;
					background: url("/img/list-marker_web.svg") no-repeat 50% 50%;
					left: -23px;
					top:4px;
					@include border-radius(0);
				}
			}
			&.li_time{
				margin-left: 22px;
				&:before{
					width: 16px;
					height: 18px;
					background: url("/img/ico/ico_clock.svg") no-repeat 50% 50%;
					left: -23px;
					top:1px;
					@include border-radius(0);
				}
			}
			&.li_person{
				margin-left: 22px;
				&:before{
					width: 16px;
					height: 18px;
					background: url("/img/ico/ico_person.svg") no-repeat 50% 50%;
					left: -23px;
					top:1px;
					@include border-radius(0);
				}
			}
		}


		&.ul_location{
			li{
				margin-left: 22px;

				&:before{
					width: 13px;
					height: 17px;
					background: url("/img/list-marker.svg") no-repeat 50% 50%;
					left: -22px;
					top:3px;
					@include border-radius(0);
				}
			}
		}

		&.ul_disk{
			li{
				margin-left: 22px;

				&:before{
					width: 4px;
					height: 4px;
					border: 2px solid $deepBlue;
					background: #fff;
					left: -22px;
					top:7px;
				}
			}
		}
	}
}

.js-load-content{
	cursor: pointer;
}


.control{

	float: right;
	margin-top: -6px;

	&-link{
		height: 36px;
		line-height: 36px;
		border: 2px solid $deepBlue;
		@include border-radius(50px);
		display: inline-block;
		text-decoration: none;
		font-weight: 400;
		font-size: 14px;
		min-width: 36px;
		text-align: center;
		@include transition(all 0.3s ease);
		padding: 0 30px;
		cursor: pointer;
		margin-left: 10px;

		&_arrow{

			padding: 0;

			svg{
				position: relative;
				top:2px;
			}

			&-left{}

			&-right{}
		}

		&:hover{

			color: #fff;
			background-color: $deepBlue;

			svg{
				path{
					fill:#ffffff!important;
				}
			}
		}
	}
}




.direction{

	&-list{

		margin-top: 20px;
		overflow: hidden;

		.btn{
			float: right;
		}



		&_m{
			.direction-item{
				width: 56px;
				height: 56px;
			}
		}
	}

	&-item{
		display: inline-block;
		width: 44px;
		height: 44px;
		border: 2px solid $deepBlue;
		@include border-radius(50px);
		vertical-align: middle;
		margin: 0 5px 10px 0;
	}

	&-text{
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 10px;
		line-height: 1.25;
		margin-right: 30px;
	}

	&-more{
		display: inline-block;
		vertical-align: middle;
		color: $deepBlue;
		cursor: pointer;
		border-bottom: 1px dotted $deepBlue;
		line-height: 1.3;
		margin-left: 5px;
		margin-bottom: 10px;

		&:hover{
			border-bottom-color: transparent;
		}
	}

}



.specialists{
	&-list{
		font-size: 0;
	}

	&-item{
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
	&-img{
		display: inline-block;
		vertical-align: middle;
		width: 60px;
		height: 60px;
		@include border-radius(50%);
		overflow: hidden;
		-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
		float: left;

		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
	&-info{
		margin: 4px 20px 0 80px;

		&__title{
			font-size: 16px;
		}
		&__text{
			font-size: 14px;
			color: $colorTextLight;
		}
	}
}


.ico{

	&-euro{
		display: inline-block;
		vertical-align: middle;
		width: 13px;
		height: 18px;
		position: relative;
		top:-1px;
		margin-right: 10px;
		background: url("/img/ico/ico_euro.svg") no-repeat 50% 50%;
	}
}



.transfer{
	&-result{
		padding: 20px 60px;
		margin: 0 -60px;
		border-bottom: 1px solid $colorGrey;
		overflow: hidden;

		.control {
			margin-top: 4px;
		}

	}

	&-item{
		display: inline-block;
		vertical-align: top;
		margin: 15px 20px;
		position: relative;

		&:before{
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			@include border-radius(50%);
			border: 2px solid $deepBlue;
			position: absolute;
			left: -20px;
			top:4px;
		}
	}
}


.content{

	&-bg{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("/img/bg_main.jpg") no-repeat 50% 50%;
		background-size: cover;
	}

	&-aside{

		width: 100%;
		@include box-sizing();
		position: relative;

		.mCSB_container{
			min-height: 100%;
		}

		.inner{
			padding: 50px 30px;
			@include box-sizing();
			min-height: 100%;

			&__pre{
				//margin-bottom: 50px;
				margin-bottom: 300px;
			}

			&__feedback{

				position: absolute;
				bottom: 30px;
				left: 30px;
				right: 30px;

				.text{
					color: $colorTextLight;
				}


				&-phone{
					font-size: 30px;
					color: $deepBlue;
					font-weight: 600;
					line-height: 40px;
					margin-bottom: 30px;
				}

				&-contact{}

				&-item{
					cursor: pointer;
					display: inline-block;
					vertical-align: middle;
					color: #fff;
					background: $deepBlue;
					padding: 0;
					@include border-radius(100px);
					height: 48px;
					min-width: 48px;
					line-height: 48px;
					background-size: contain;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					margin-right: 5px;

					&:hover{
						background-color: $deepBlueHover;
					}

					&_form{
						padding: 0 30px;
					}

					&_telegram{
						background-image: url("/img/ico/ico_call-telegram.svg");
					}

					&_viber{
						background-image: url("/img/ico/ico_call-viber.svg");
					}

					&_whatsup{
						background-image: url("/img/ico/ico_call-whatsup.svg");
					}

				}
			}
		}

		.map{
			background: $colorGrey;

			&_contact{
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		&_half{
			width: 50%;
			float: left;

			.inner{
				padding: 50px 30px;
			}
		}

		&_left{
			width: (100% / 3);
			float: left;
			z-index: 1;
		}

		&_right{
			width: (100% / 3) * 2;
			float: right;
			border-left: 1px solid $colorLight;
			z-index: 1;

			.inner{
				padding: 50px 60px;
			}
		}

		&_slide{
			width: (100% / 3) * 2;
			position: absolute;
			left: 110%;
			top:0;
			bottom: 0;
			border-left: 1px solid $colorLight;
			@include transition(all .5s ease);
			background: #fff;
			z-index: 2;

			.inner{
				padding: 50px 60px;
				@include opacity(0);
				@include transition(all 0.5s ease);

				&.show{
					@include opacity(1);
				}
			}

			&.content-aside_show{
				left: (100% / 3);

				.content-close{
					@include opacity(1);
				}
			}
		}

		&__header{
			background: url("/img/bg_main.jpg") no-repeat 50% 50%;
			background-size: cover;
			padding: 180px 60px 30px;
			margin: -50px -60px 30px;
			min-height: 100px;

			.filter-item{
				width: 39%;
			}
		}

	}

	&-close{
		z-index: 1;
		display: block;
		@include border-radius(50%);
		background: $deepBlue;
		position: absolute;
		cursor: pointer;
		left: 0;
		top:50%;

		width: 50px;
		height: 50px;
		margin-left: -25px;
		margin-top: -25px;
		@include opacity(0);

		i,
		&:before,
		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 30px;
			height: 2px;
			top:50%;
			left: 50%;
			background: #fff;
			margin-top: -1px;
			margin-left: -15px;
			@include border-radius(10px);
			@include transition(all .3s ease);
		}

		i{
			width: 2px;
			margin-left: -1px;
		}

		&:before{
			@include transform(rotate(45deg));
		}

		&:after{
			@include transform(rotate(-45deg));
		}

		&:hover{

			i{
				width: 30px;
				margin-left: -15px;
			}

			&:before{
				width: 20px;
				margin-left: -2px;
				margin-top: 5px;
				@include transform(rotate(-45deg));
			}

			&:after{
				width: 20px;
				margin-left: -2px;
				margin-top: -7px;
				@include transform(rotate(45deg));
			}
		}
	}

	&-wrap{
		height: 100%;
	}
}



.count{

	display: flex;
	margin: 0px -50px;

	&-item{
		margin: 20px;
		padding: 30px;
		@include box-shadow(0 0 24px rgba(#000, 0.06));
		line-height: 1.3;

		&_boofer{
			@include opacity(0);
		}
	}

	&-num{
		color: $deepBlueLight;
		font-weight: 900;
		font-size: 60px;
		line-height: 1;
		margin-bottom: 10px;
	}

	&-title{
		margin-bottom: 10px;
		font-size: 16px;
	}
	&-text{
		color: $colorTextLight;
	}


	&.count_4{
		.count-item{
			width: 25%;
		}
	}

	&.count_3{
		.count-item{
			width: (100%/3);
		}
	}
}



.steps{

	font-size: 0;
	margin: 0 -30px;

	&-item{
		display: inline-table;
		width: 25%;
	}

	&-num{
		font-weight: 900;
		font-size: 60px;
		color: $deepBlueLight;
		display: table-cell;
		vertical-align: middle;
		padding: 20px 0;
	}

	&-text{
		display: table-cell;
		vertical-align: middle;
		font-size: 14px;
		padding: 20px;
	}
}


.news{

	&-item{
		padding: 35px 300px 35px 60px;
		border-bottom: 1px solid $colorLight;
		position: relative;
		min-height: 44px;
	}

	&-date{
		color: $colorTextLight;
		margin-bottom: 5px;
	}

	&-title{
		font-size: 20px;
		font-weight: 600;
		color: $deepBlue;
		line-height: 1.2;
		margin-bottom: 15px;
	}

	&-text{
		line-height: 1.7;
	}

	&-more{
		position: absolute;
		right: 100px;
		bottom: 35px;
	}

}



.object{

	&-item{
		padding: 20px 60px 19px 20px;
		border-bottom: 1px solid $colorLight;

		&:hover{
			padding: 15px 55px 15px 15px;
			border: 5px solid $deepBlueLight;
		}
	}

	&-img{
		float: left;
		width: 23%;
		text-align: center;

		img{
			max-width: 100%;
		}
	}
	&-info{
		padding: 20px 0;
		margin-left: 25%;
	}
	&-title{
		font-weight: 600;
		color: $deepBlue;
		font-size: 20px;
	}
	&-text{

	}

}





.cars {

	&-wrap{
		margin: 0 -60px;
	}

	&-list{
		display: table;
		width: 100%;
	}

	&-item{
		display: table-row;
	}

	&-img,
	&-info,
	&-price {
		display: table-cell;
		vertical-align: middle;
		border-bottom: 1px solid $colorGrey;
	}

	&-img{
		vertical-align: middle;
		padding: 30px 35px;
		text-align: center;

		img{
			max-width: 240px;
		}
	}

	&-info{
		vertical-align: top;
		padding: 30px 35px;

		.title{
			font-size: 20px;
		}

		ul{
			color: $colorTextLight;
		}
	}

	&-price{

		vertical-align: bottom;
		padding: 30px 35px;

		&_btn{
			margin: 15px 0;
		}

		&_val{
			font-size: 48px;
			font-weight: 900;
			color: $deepBlueLight;
			white-space: nowrap;
		}
	}
}






.share{

	margin-top: 40px;
	&-title{
		color: $colorTextLight;
		margin-bottom: 15px;
		font-weight: 600;
	}

	&-item{
		display: inline-block;
		width: 48px;
		height: 48px;
		margin-right: 6px;
		background: no-repeat 50% 50%;
		@include border-radius(50%);

		&_vk{
			background-color: $colorVK;
			background-image: url("/img/ico/ico_share-vk.svg");
		}
		&_fb{
			background-color: $colorFB;
			background-image: url("/img/ico/ico_share-fb.svg");
		}
		&_tw{
			background-color: $colorTW;
			background-image: url("/img/ico/ico_share-tw.svg");
		}
		&_ok{
			background-color: $colorOK;
			background-image: url("/img/ico/ico_share-ok.svg");
		}
		&_mr{
			background-color: $colorMR;
			background-image: url("/img/ico/ico_share-mr.svg");
		}
	}
}


.copyright{
	text-align: center;
	color: #54575a;
	line-height: 1.7;
	margin-top: 50px;

	&-logo{
		margin-bottom: 15px;
	}

	&-text{}
}



.form{

	&_feedback{
		position: relative;

		.form-field{
			max-width: 400px;
		}

		.form__close{
			width: 48px;
			height: 48px;
			cursor: pointer;
			display: block;
			vertical-align: middle;
			color: #fff;
			padding: 0;
			@include border-radius(100px);
			position: absolute;
			top: -5px;
			right: 0;
			text-align: center;
			line-height: 56px;

			svg{
				fill: #d7d7d8;
				display: inline-block;
				width: 18px;
				height: 18px;
			}

			&:hover{
				background: $deepBlue;

				svg{
					fill: #fff;
				}
			}
		}
	}

	&-field{
		margin: 0 0 20px 0;


		&.error{
			position: relative;

			&:after{
				content: '';
				position: absolute;
				width: 32px;
				height: 32px;
				@include border-radius(50%);
				background: $colorRed url("/img/ico/ico_error.svg") no-repeat 50% 50%;

				top: 7px;
				right: 7px;
			}

			input{
				border-color: $colorRed;
				color: $colorRed;

				::-webkit-input-placeholder {color:$colorRed}
				::-moz-placeholder          {color:$colorRed}
				:-moz-placeholder           {color:$colorRed}
				:-ms-input-placeholder      {color:$colorRed}
			}
		}


		&_submit{

			//overflow: hidden;
			margin-bottom: 0;

			white-space: nowrap;

			.form-message{
				max-width: 200px;
			}

			input{
				//float: left;
			}


		}
	}

	.form-message{
		@include border-radius(25px);
		background: #fff;
		font-size: 14px;
		padding: 13px 30px;
		@include box-shadow(0 0 12px rgba(0,0,0,.12));
		vertical-align: top;
		white-space: normal;
		margin-left: 15px;
		position: absolute;
		display: none;
		margin-right: -6%;
		color: $deepBlue;

		&:after{
			content: '';
			display: block;
			position: absolute;
			top: -14px;
			left: 60px;
			margin-left: -7px;
			border: 7px solid transparent;
			border-bottom-color: #fff;
		}
	}


	textarea,
	input{

		color: $colorTextLight;
		padding: 10px 20px 9px;
		border: 2px solid #d7d7d8;
		@include border-radius(25px);
		@include box-sizing();
		width: 100%;
		text-overflow: ellipsis;
		resize: none;
		font: inherit;
		font-size: 14px;
		line-height: 1.7;

		&[type=submit]{
			cursor: pointer;
			color: #fff;
			background: $deepBlue;
			border-color: $deepBlue;
			padding: 0 50px;
			height: 48px;
			line-height: 48px;
			border: 0;
			width: auto;
			//float: none;

			&:hover{
				border-color: $deepBlueHover;
				background-color: $deepBlueHover;
			}
		}
	}

	textarea{
		height: 178px;
		padding: 12px 25px;
	}

	&_content{
		.form-left{
			width: 400px;
			float: left;
		}
		.form-right{
			margin-left: 430px;
			overflow: hidden;
		}

		.form-message{
			max-width: 300px;
		}

	}



	&_error{
		.form-message{
			color: $colorRed;
			display: inline-block;
		}
	}

	&_sent{
		p, .form-field, input{
			display: none;
		}

		.form-field_submit{
			display: block;
		}

		.form-message{
			display: block;
			margin: 0;
		}
	}
}




[class*="ymaps-2"][class*="-ground-pane"]{
	@include greyscale(grey);
}

[class*="ymaps-2"][class*="-copyrights-promo"],
[class*="ymaps-2"][class*="-copyrights-pane"]{
	display: none;
}

