
.page{

	.filter_object{
		margin: 0 -60px;
	}

	.title{
		margin-bottom: 50px;
	}

	.images{
		width: 280px;
		float: right;
		padding: 0 25px 25px;
		z-index: 1;
		position: relative;

		&-big{
			text-align: center;
			display: block;
			padding: 5px;

			img{
				max-width: 100%;
				display: block;
				margin: 0 auto;
			}
		}

		&-list{
			font-size: 0;
		}

		&-item{
			display: inline-block;
			cursor: pointer;
			width: 60px;
			height: 60px;
			margin: 5px;
			background: $colorGrey;
			position: relative;

			&:before{
				content: '';
				border: 2px solid transparent;
				position: absolute;
				top:0;
				left: 0;
				right: 0;
				bottom: 0;
				@include transition(border-color 0.3s ease);
			}

			img{
				max-width: 100%;
				max-height: 100%;
			}

			&:hover,
			&.active{
				&:before{
					border-color: $deepBlue;
					position: absolute;
				}
			}
		}
	}

	.map_object{
		height: 380px;
		margin: 50px -60px;
	}

	.search{
		background: $deepBlue;
		margin: 50px -60px;
		padding: 40px 60px;
	}

	.filter-item_fix,
	.filter-item_text{
		width: 39%;

		.filter-input{
			padding-right: 15px;
		}
	}
	.filter-item_fix{
		.filter-input{
			cursor: default;
		}
	}
	.filter-item_text{
		.filter-input{
		}
	}

}





.search{

	&-title{
		color: #fff;
		font-size: 24px;
		margin-bottom: 5px;
	}
	&-text{
		color: #fff;
	}
	&-filter{
		background: #fff;
		@include border-radius(50px);
		margin: 30px 0 0;
	}
}



.gallery{

	&-picture{
		&__list{
		}
		&__item{
			font-size: 0;
		}
		&__inner{
			height: 500px;
			text-align: center;

			@include breakpoint(1750px){
				height: 600px;
			}


			&:before{
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}

			span{
				display: inline-block;
				vertical-align: middle;
				max-height: 100%;
			}

			img{
				max-height:500px;

				@include breakpoint(1750px){
					max-height: 600px;
				}

			}
		}
	}

	&-preview{
		position: relative;
		width: 550px;
		margin: 20px auto ;

		&__arrow{

			&_prev,
			&_next{
				height: 36px;
				line-height: 36px;
				border: 2px solid $deepBlue;
				@include border-radius(50px);
				display: inline-block;
				text-decoration: none;
				font-weight: 400;
				font-size: 14px;
				min-width: 36px;
				text-align: center;
				@include transition(all 0.3s ease);
				padding: 0;
				cursor: pointer;
				position: absolute;
				top: 50%;
				margin-top: -19px;

				svg{
					position: relative;
					top:2px;
				}
				&:hover{

					color: #fff;
					background-color: $deepBlue;

					svg{
						path{
							fill:#ffffff!important;
						}
					}
				}
			}

			&_prev{
				left: 0;
			}

			&_next{
				right: 0;
			}
		}
		&__list{
			width: 420px;
			margin: 0 auto;
		}
		&__item{

			cursor: pointer;

			&.slick-current,
			&:hover{
				.gallery-preview__inner{
					&:before{
						border-color: $deepBlue;
					}
				}
			}
		}
		&__inner{
			width: 60px;
			height: 60px;
			margin: 0 auto;
			position: relative;

			&:before{
				content: '';
				display: block;
				top:0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				border: 2px solid transparent;
			}
		}
	}

}



















