.popup{
	display: none;
	color: #343434;

	.popup-inner{
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		white-space: nowrap;
		width: 100%;
		z-index: 102;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		.popup-layout{
			@include border-radius(18px);
			background-color: white;
			box-sizing: border-box;
			display: inline-block;
			margin: 60px auto;
			padding: 0;
			position: relative;
			vertical-align: middle;
			white-space: normal;
			width: 530px;
			z-index: 102;

			border: 8px solid rgba(0,0,0,0.15);


			.popup-close{
				width: 35px;
				height: 35px;
				position: absolute;
				cursor: pointer;
				background: #ddd;
				top: -50px;
				right: -85px;
				@include opacity(0.4);

				&:hover{
					@include opacity(0.8);
				}
			}
		}

		.popup-overlay{
			background-color: rgba(0, 0, 0, 0.7);
			display: block;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 101;
		}

	}

	.btn-round{
		position: relative;
		right: -5px;
	}

}




.tooltip{
	display: none;
	@include border-radius(20px);
	//@include box-sizing();
	background: #fff;
	font-size: 12px;
	text-align: center;
	max-width: 200px;
	min-width: 80px;
	position: absolute;
	margin-left: -60px;
	margin-top: 16px;
	min-height: 18px;
	padding: 13px 20px 10px;
	//border-top: 1px solid rgba(#fff, 0.5);
	//text-shadow: 0 -1px 0 rgba(#000, 0.5);
	//@include transition(all 0.3s ease);
	@include box-shadow(0 0 12px rgba(0,0,0,.12));
	z-index: 105;

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: -14px;
		left: 60px;
		margin-left: -7px;
		border: 7px solid transparent;
		border-bottom-color: #fff;
	}

	&.show{
		display: block;
	}

}
