/* CSS Reset section */
/* CSS Reset section */

html {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-size: 100.01%;
	min-width: $minWidth;
	//min-height: 500px;
}

body {
	height: 100%;
	margin: 0;
	opacity: 1;
	padding: 0;
	font-size: 14px;
	line-height: 1.2;
	font-family: 'Conv_Helvetica', sans-serif;
	font-weight: 400;
	color: $colorText;
	background-repeat: no-repeat;
	background-position: 50% 0;
	//	-webkit-transform:translate3d(0,0,0);
}

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus{
	outline: none;
}

img {
	border: 0;
}

a, a:focus, a img, a img:focus {
	outline: 0 none;
}

a, a img, textarea, input {
	outline: 0 none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

a {
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
}

dl, dt, dd {
	margin :0;
}

textarea {
	overflow: auto;
}

/* mixins */

.clearfix {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
