.scheme{

	&-menu{
		width: 25%;
		float: left;
		border-right: 1px solid $colorGrey;
		padding: 0 0 0 20px;
		@include box-sizing();
	}

	&-container{
		margin-left: 25%;
		background: #f3f3f3;

		.mCSB_container{
			min-height: 100%;
		}
		&__inner{
			background: url("/img/map/map-bg_.svg") no-repeat 50% 0;
			text-align: center;
			padding-top: 149px;
			min-height: 100%;

			.area{
			}
		}
	}



	&-map{
		width: 516px;
		height: 667px;
		margin: 0 auto;
		left: 0;
		position: relative;
		display: block;

		&__legend{
			position: absolute;
			width: 100%;
			top:0;
			left: 0;
		}
	}
}


.legend{
	&-list{}

	&-item{

		position: absolute;

		&:hover{
			z-index: 10;
			.legend-info{
				display: block;
			}
		}

		&_up{
			.legend-info{
				top:-172px;
			}
		}

		&_left{
			.legend-info{
				left: -215px;

				.name{
					text-align: right;
					margin-right: 65px;
				}

				.more{
					right: 215px;
				}
			}
		}

		&_k{

			.legend-logo{
				background: $deepBlue;
			}

			.legend-info__header .name{

				margin-left: 65px;
			}
		}
	}

	&-logo{
		width: 48px;
		height: 48px;
		@include border-radius(50%);
		background: #fff;
		position: relative;
		z-index: 1;
	}

	&-info{
		background: #fff;
		position: absolute;
		top:-20px;
		left: -10px;
		display: none;

		&__header{

			height: 86px;
			overflow: hidden;
			position: relative;

			.name{
				text-align: left;
				margin: 35px 0 0 60px;
			}
			.more{
				height: 36px;
				width: 36px;
				line-height: 40px;
				border: 2px solid $deepBlue;
				@include border-radius(50px);
				display: inline-block;
				text-decoration: none;
				text-align: center;
				@include transition(all 0.3s ease);
				cursor: pointer;
				position: absolute;
				top:23px;
				right: 20px;

				&_arrow{
					svg{
						position: relative;
						top:2px;
					}
				}

				&:hover{
					color: #fff;
					background-color: $deepBlue;
					svg{
						path{
							fill:#ffffff!important;
						}
					}
				}
			}
		}

		&__picture{
			width: 276px;

			img{
				width: 100%;
				display: block;
			}
		}
	}
}


.city{

	&-list{
		display: table;
		//width: 100%;
		margin-right: 20px;
	}
	&-item{
		display: table-row;
		text-decoration: none;
		margin-bottom: 10px;

		&:hover{
			color: $deepBlue;
		}

		img{
			vertical-align: middle;
			margin-right: 12px;
		}
		span{
			vertical-align: middle;
		}
	}
	&-logo{
		display: table-cell;
		vertical-align: middle;

		.roundb{
			display: block;
			width: 48px;
			height: 48px;
			background: $deepBlue;
			@include border-radius(50%);
			margin-right: 12px;
			margin-bottom: 8px;
		}
	}
	&-name{
		display: table-cell;
		vertical-align: middle;
	}
}



svg.area{
	path{

		fill: #d1d1d1;
		@include transition(fill 0.3s ease);

		&.hover
		//&:hover
		{
			fill:$deepBlue;
		}
	}
}