//.card,
//.slider{

	//&_object{


		.card,
		.slider{
			margin: 0 -50px;

			&-list{}

			&-inner{

				display: block;
				text-decoration: none;
				padding: 30px;
				@include box-shadow(0 0 24px rgba(#000, 0.06));
				border: 5px solid transparent;
				@include transition(border-color 0.3s ease);

				&:hover{
					border-color: $deepBlueLight;
				}
			}

			&-item{
				padding: 20px;
				@include box-sizing();

				&_services{

					.slider-inner{
						height: 210px;
					}

					.head{

					}


					.ico{
						display: inline-block;
						width: 56px;
						height: 56px;
						border: 2px solid $deepBlue;
						@include border-radius(50px);
						margin-bottom: 15px;
					}

					.title{
						font-size: 16px;
						font-weight: 400;
						color: $colorText;
						margin-bottom: 15px;
					}

					.text{
						color: $colorTextLight;

						overflow: hidden;
						max-height: 95px;
					}
				}



				&_clinics{

					.slider-inner{
						height: 300px;
					}

					.img{
						text-align: center;
						max-height: 100%;
						height: 220px;
						margin: 0 -15px 10px;

						&:before {
							content:'';
							display:inline-block;
							height:100%;
							vertical-align:middle;
						}

						img{
							max-height: 100%;
							display: inline-block;
							max-width: 100%;
							vertical-align:middle;
							position: relative;
							top: -15px;
						}
					}

					.text{
						font-size: 16px;
						height: 55px;
						overflow: hidden;
						line-height: 1.4;
					}

					.location{
						background: url("/img/list-marker.svg") no-repeat 0 1px;
						padding-left: 20px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						color: $colorTextLight;
					}
				}


				&_cars{
					font-size: 16px;

					.slider-inner{
						padding: 15px;
					}

					.img{
						height: 110px;
						margin-bottom: 10px;

						img{
							max-width: 100%;
							max-height: 100%;
						}
					}

					.info{
						position: relative;

						&-price{}

						&-more{
							display: block;
							width: 36px;
							height: 36px;
							border: 2px solid $deepBlue;
							@include border-radius(50%);
							text-align: center;
							line-height: 39px;
							@include transition(background-color 0.3s ease);

							position: absolute;
							right: 0;
							top: -7px;

							&:hover{
								background: $deepBlue;
								svg{
									path{
										fill: #fff;
									}
								}
							}
						}
					}
					.text{

					}
				}
			}





			&_excursions{
				.card,
				.slider{
					&-inner{
						padding: 15px 30px;
						//height: 230px;
						position: relative;
						border: 0;
					}

					&-poster{
						margin: -15px -30px 15px;
						position: relative;

						img{
							display: block;
							width: 100%;
						}
					}

					&-info{

						&__title{
							font-size: 16px;
							height: 45px;
							line-height: 1.4;
							overflow: hidden;
							margin-bottom: 5px;
						}

						&__person,
						&__time{
							padding-left: 25px;
							position: relative;
							color: $colorTextLight;
							margin-bottom: 4px;

							&:before{
								content: '';
								display: block;
								position: absolute;
								top:0;
								left: 0;
								height: 20px;
								width: 18px;
							}
						}

						&__time{
							&:before{
								background: url("/img/ico/ico_clock.svg") no-repeat 50% 50%;
							}
						}

						&__person{
							margin-bottom: 20px;
							&:before{
								background: url("/img/ico/ico_person.svg") no-repeat 50% 50%;
							}
						}

						&__type{
							font-size: 11px;
							display: inline-block;
							padding: 0 15px;
							height: 16px;
							line-height: 16px;
							border: 2px solid $deepBlue;
							color: $deepBlue;
							@include border-radius(50px);
							letter-spacing: 1px;

							&.active{
								color: #fff;
								background: $deepBlue;
							}
						}

						&__price{
							font-size: 24px;
							color: $deepBlueLight;
							position: absolute;
							bottom: 14px;
							right: 25px;
							font-weight: 900;
							line-height: 1;
						}
					}

				}
			}

		}
	//}
//}


.slider{
	&_excursiontype{
		.slider{
			&-inner{
				padding: 20px 30px;
				height: 230px;
			}

			&-img{
				text-align: center;
				position: relative;
				margin-bottom: 15px;

				img{
					display: inline-block;
					max-width: 100%;
					margin: 0 -50%;
				}
			}

			&-val{
				position: absolute;
				color: #cdedf8;
				font-weight: 900;
				font-size: 60px;
				line-height: 1;
				margin-bottom: 10px;
				bottom: -8px;
				right: 0;
			}

			&-title{
				font-size: 16px;
				margin-bottom: 12px;
				line-height: 1.2;
			}

			&-text{
				color: $colorTextLight;
			}
		}
	}
}

.card{

	&-list{
		font-size: 0;
	}
	&-item{
		display: inline-block;
		font-size: 14px;
		width: (100% / 3);
		vertical-align: top;

		@include breakpoint(1750px){
			width: 25%;
		};
	}
	&-inner{
		display: table;
		min-height: 110px;
		padding: 0;
		margin: 0;
		width: 100%;
		@include box-sizing();
	}
	&-img{
		display: table-cell;
		vertical-align: middle;
		padding: 0 8px;
		width: 56px;
	}
	&-ico{
		display: block;
		width: 56px;
		height: 56px;
		border: 2px solid $deepBlue;
		@include border-radius(50%);
	}
	&-text{
		display: table-cell;
		vertical-align: middle;
		padding: 0 8px;
		color: $colorText;
	}


}



.minig{
	position: relative;
	font-size: 0;

	&.hover{
		.minig-hendler{
			opacity: 1;
		}

		.minig-gallery__item:first-child{
			display: none;
		}
	}

	&-gallery{

		&__item{
			display: none;

			&:first-child{
				display: block;
			}

			&.active{
				display: block!important;
			}
		}
	}

	&-hendler{
		position: absolute;
		height: 100%;
		top:0;
		left: 0;
		width: 100%;
		opacity: 0;
		@include transition(opacity 0.2s ease);

		&__item{
			display: inline-block;
			@include box-sizing();
			height: 100%;
			position: relative;
			@include transition(all 0.2s ease);

			span{
				display: block;
				height: 4px;
				background: $colorGrey;
				position: absolute;
				bottom: 1px;
				left: 1px;
				right: 1px;
			}

			&.active{
				span{
					background: $colorRed;
				}
			}
		}

	}


	&_col{
		&-1{
			.minig-hendler__item{
				width: 100%;
			}
		}
		&-2{
			.minig-hendler__item{
				width: (100% / 2);
			}
		}
		&-3{
			.minig-hendler__item{
				width: (100% / 3);
			}
		}
		&-4{
			.minig-hendler__item{
				width: (100% / 4);
			}
		}
		&-5{
			.minig-hendler__item{
				width: (100% / 5);
			}
		}
		&-6{
			.minig-hendler__item{
				width: (100% / 6);
			}
		}
		&-7{
			.minig-hendler__item{
				width: (100% / 7);
			}
		}
	}
}